header {
  position:relative;
  font-family:$base-font-family;
  padding:30px 20px;
  .main-menu {
    margin-left:235px;
    a {
      color:$header-nav-color;
      font-family: $base-font-family;
      font-size:$base-font-size;
      font-weight: normal;
      display:inline-block;
      padding:0 20px;
    }
  }

  .header-image {
    position: absolute;
    width:1020px;
    height:682px;
    right:0;
    top:0;
    z-index: -1;
    background:center center;
    object-fit: contain;
  }

  .login-register-menu a {
    width:140px;
    margin-left:10px;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
  }

}

.section-title {
   font-family: $base-font-family;
   h2 {
     font-size:35px;
     font-weight: 700;
   }
  p {
    margin: 20px 0;
  }
 }

@media only screen and(max-width: $xxx-large) {
  header {
    .main-menu {

    }
  }
}

@media only screen and(max-width: $xx-large) {
  body, html { overflow-x: hidden }
  header {
    .main-menu {
      margin-left: 30px;
    }
  }
}

@media only screen and(max-width: $x-large) {
  header {
    .main-menu {

    }
  }
}

@media only screen and(max-width: $large) {
  body, html { overflow-x: hidden }
  header {
    .main-menu {
      a {
        padding:0 10px;
      }
    }
  }
}

@media only screen and (max-width: $x-small) {
  header {
    .login-register-menu {
      margin-top: -30px;
    }
    .main-menu { display:none; }
  }
}