.icon-box {
  text-align: center;
  font-fmaily:$base-font-family;
  margin: 30px 0;
  .icon {
    margin:15px 0;
  }
  .title {
    color:$header-nav-color;
    font-weight: 700;
  }
  .description {
    margin-top:10px;
    color:$description-text-color;
  }
}