<section class="page-platforms-account-block">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="account-image">
                    <img src="images/platform_account_image.png" class="img-fluid" />
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

                <div class="section-title">
                    <h2>Ücretsiz Üye Olun</h2>
                </div>

                <div class="account-form">

                    <p>
                        Dünyanın en büyük işlem hacmine sahip piyasası olan Forex’te artık sizler de ÇarşıFX farkıyla işlem yapabilirsiniz.
                    </p>

                    <p>
                        Yatırım statejilerinizi gerçek bir kazanca dönüştürmek için şimdi gerçek hesap açın!
                    </p>

                    <a class="btn btn-primary btn-submit" href="javascript:;">Kayıt Ol</a>

                </div>

            </div>

        </div>
    </div>
</section>