.question-blocks {

  margin-top:50px;

  .card {
    border:unset;
    margin-bottom: 15px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
    border-radius: 15px;

    .card-header {
      background:#fff;
      border:unset;
      a {
        font-size:16px;
        font-weight: bold;
        color:#000;
        &:hover { text-decoration: none }
      }
    }

    .card-body {
      padding:0 20px 20px 30px;
    }

  }

}