.page-platforms-block {
  margin-top:220px;

  .platform-block {
    margin-bottom: 100px;

    .buttons {
      a {
        width:180px;
        margin-bottom: 10px;
      }

      width:90%;
    }

  }

}

.page-platform-features {
  .section-title {
    width:70%;
    margin:0 auto;
  }
}

.page-platforms-account-block {
  margin-top:100px;

  .section-title {
    font-family: $base-font-family;
    margin-top: 120px;
  }

  .account-form {
    margin-top: 30px;

    .btn-submit {
      width:180px;
      border-radius: 3px;
    }

    .input-custom {
      background:$form-input-bg;
      border:unset;
      border-radius: 3px;
    }

  }

}

@media only screen and (max-width: $x-small) {
  .page-platforms-block{
    margin-top: 50px;
    .platform-block {
      .buttons  {
        width:100%;
        a {
          width:170px;
          font-size:smaller;
        }
      }
    }
  }

}

@media only screen and (max-width: $x-small) {
  .page-platforms-block{
    margin-top: 50px;
    .platform-block {
      .buttons  {
        width:100%;
        a {
          width:170px;
          font-size:smaller;
        }
      }
    }
  }

}

@media only screen and (max-width: $x-small) {
  .page-platforms-block{
    margin-top: 50px;
    .platform-block {
      .buttons  {
        width:100%;
        a {
          width:170px;
          font-size:smaller;
        }
      }
    }
  }

}

@media only screen and (max-width: $x-small) {
  .page-platforms-block{
    margin-top: 50px;
    .platform-block {
      .buttons  {
        width:100%;
        a {
          width:170px;
          font-size:smaller;
        }
      }
    }
  }

}

@media only screen and (max-width: $x-small) {
  .page-platforms-block{
    margin-top: 50px;
    .platform-block {
      .buttons  {
        width:100%;
        a {
          width:170px;
          font-size:smaller;
        }
      }
    }
  }

}