.page-platforms-block {
  margin-top:540px;

  .platform-block {
    margin-bottom: 100px;

    .buttons {
      a {
        width:180px;
        margin-bottom: 10px;
      }

      width:90%;
    }

  }

}

.page-platforms-account-block {
  margin-top:100px;

  .section-title {
    font-family: $base-font-family;
    margin-top: 120px;
  }

  .account-form {
    margin-top: 30px;

    .btn-submit {
      width:180px;
      border-radius: 3px;
    }

    .input-custom {
      background:$form-input-bg;
      border:unset;
      border-radius: 3px;
    }

  }

}