.page-about-our-achievements {
  margin-top:220px;
  margin-bottom: 150px;

  .award-box {
    margin-top: 0;
    text-align: center;

    img {
      &:first-child, &:last-child {
        margin-top: 320px;
      }
    }

  }

}

@media only screen and (max-width: $x-small) {
  .content-slider.slider-small {
    margin: 380px 0 20px;
    .slider-image {
      background-size: contain !important;
      width: 395px;
      height: 225px;
      top: -320px;
      right: -70px;
    }
  }

  .page-about-our-achievements {
    margin-top: 50px;
    .award-box {
      img {
        &:first-child, &:last-child {
          margin-top: 30px;
        }
      }
    }
  }

}

@media only screen and (max-width: $x-small) {
  .content-slider.slider-small {
    margin: 380px 0 20px;
    .slider-image {
      background-size: contain !important;
      width: 395px;
      height: 225px;
      top: -320px;
      right: -70px;
    }
  }

  .page-about-our-achievements {
    margin-top: 50px;
    .award-box {
      img {
        &:first-child, &:last-child {
          margin-top: 30px;
        }
      }
    }
  }

}

@media only screen and (max-width: $x-small) {
  .content-slider.slider-small {
    margin: 380px 0 20px;
    .slider-image {
      background-size: contain !important;
      width: 395px;
      height: 225px;
      top: -320px;
      right: -70px;
    }
  }

  .page-about-our-achievements {
    margin-top: 50px;
    .award-box {
      img {
        &:first-child, &:last-child {
          margin-top: 30px;
        }
      }
    }
  }

}

@media only screen and (max-width: $x-small) {
  .content-slider.slider-small {
    margin: 380px 0 20px;
    .slider-image {
      background-size: contain !important;
      width: 395px;
      height: 225px;
      top: -320px;
      right: -70px;
    }
  }

  .page-about-our-achievements {
    margin-top: 50px;
    .award-box {
      img {
        &:first-child, &:last-child {
          margin-top: 30px;
        }
      }
    }
  }

}

@media only screen and (max-width: $x-small) {
  .content-slider.slider-small {
    margin: 380px 0 20px;
    .slider-image {
      background-size: contain !important;
      width: 395px;
      height: 225px;
      top: -320px;
      right: -70px;
    }
  }

  .page-about-our-achievements {
    margin-top: 50px;
    .award-box {
      img {
        &:first-child, &:last-child {
          margin-top: 30px;
        }
      }
    }
  }

}