.subpage-content {

  margin-top:50px;

  .custom-nav {
    margin-top:30px;
    margin-bottom: 9px;

    border-bottom: 1px solid #a9b1b1;

    a {
      padding:10px 0;
      color:#000;
      font-weight: bold;
      width:140px;
      display: inline-block;
      text-align: center;
      margin-bottom: -2px;
    }
    a.active-primary {
      color:$primary;
      border-bottom: 2px solid $primary;
    }

    a.active-secondary {
      color:$secondary;
      border-bottom: 2px solid $secondary;
    }

  }

  .page-content {
    margin-top:50px;
    .section-title {
      margin-bottom: 30px;
    }
    p { color:#31373b; }
    a { font-weight: bold }

  }

}