{% extends "layouts/base.twig" %}

{% block page_content %}

    {% set showPhone = false %}

    <section class="content-slider slider-small">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="section-title">
                        <h2>Biz Kimiz ?</h2>
                        <p>
                            ÇarşıFX, 1988 yılından itibaren Kapalıçarşı'da muhtelif dükkanlarda faaliyet gösteren sarrafiye ve döviz işi ile ilgilenen kuyumcu ve döviz büroları tarafından ortak olarak kurulmuştur. Güçlü kuruluş sermayesi ve sağlam likiditesi ile sektörde on yıllardır faaliyet gösteren tecrübeli döviz büroları bu tecrübelerini online alım-satım platformları ile de taçlandırmak istemektedir.
                        </p>

                        <p>
                            Hem alaylı hem de mektepli ekolden gelen ve 3 nesil boyunca döviz ve sarraf işleri ile iştigal olan ortaklığımız, sektörde en iyi bildiğimiz, esnaf-tüccar yaklaşımını online işlem platformlarına da getirmektedir.
                        </p>

                    </div>

                </div>
            </div>
        </div>
        <div class="slider-image" style="background:url('./images/about_banner.png') no-repeat;"></div>
    </section>

    <section class="page-about-our-achievements">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="section-title text-center">
                        <h2>Başarılarımız</h2>
                        <p>
                            Hizmet kalitemizde mükemmelliği hedefliyoruz ve uluslararası kurumlar tarafından ödüllendiriliyoruz. <br />
                            ÇarşıFX, uluslararası prestijli kurumlar tarafından yıllar içinde farklı ödüllere layık görüldü.
                        </p>
                    </div>

                </div>
            </div>

            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="award-box">
                        <img src="images/award1.png" />
                        <img src="images/award2.png" />
                        <img src="images/award3.png" />
                    </div>

                </div>

            </div>

        </div>

    </section>

    <section class="page-about-our-advantages">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="section-title text-center">
                        <h2>Avantajlarımız</h2>
                        <p>
                            Yatırımcılarımız, İngilizce ve Türkçe dil destekli yeni nesil teknolojiyle işlem yapabilmek için kullanıcı dostu bu en yeni nesil platformandan yararlanılabilir.Fiyat,grafik analiz ve ürün özellikleri gibi araçlara en güvenilir ve hızla erişim sağlayabilir.
                        </p>
                    </div>

                </div>
            </div>

            <div class="row icon-boxesb">

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 icon-boxes">
                    <div class="icon-box">
                        <div class="icon">
                            <img src="images/icon_5-24_acik_piyasa.svg" class="img-fluid" alt="5/24 Açık Piyasa" />
                        </div>
                        <div class="title">
                            Hızlı Emir İletimi
                        </div>
                        <div class="description">
                            ÇarşıFX forex platformında 30ms civarında bir hız ile emir iletimi gerçekleştirilmektedir. Bu emir iletim hızı, şuanda bankalar arası piyasadaki hıza eşdeğerdir.
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 icon-boxes">
                    <div class="icon-box">
                        <div class="icon">
                            <img src="images/icon_5-24_acik_piyasa.svg" class="img-fluid" alt="5/24 Açık Piyasa" />
                        </div>
                        <div class="title">
                            Güçlü Sermaye Yapısı
                        </div>
                        <div class="description">
                            ÇarşıFX ortaklığı, 30milyon USD'dan fazla, güçlü sermaye ve likidite yapısı ile yatırımcılarına güven vermektedir.
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 icon-boxes">
                    <div class="icon-box">
                        <div class="icon">
                            <img src="images/icon_5-24_acik_piyasa.svg" class="img-fluid" alt="5/24 Açık Piyasa" />
                        </div>
                        <div class="title">
                            Gerçek STP Platformu
                        </div>
                        <div class="description">
                            Emirleriniz; Barclays Bank LLC, FXCM, HotSpotFX gibi dünyaca ünlü prime brokerlarda STP olarak karşılık bulmaktadır. ÇarşıFX, gerçektne yatırımcısının yanında.
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 icon-boxes">
                    <div class="icon-box">
                        <div class="icon">
                            <img src="images/icon_5-24_acik_piyasa.svg" class="img-fluid" alt="5/24 Açık Piyasa" />
                        </div>
                        <div class="title">
                            Dar Spreadler
                        </div>
                        <div class="description">
                            0.5'den başlayan EURUSD spreadleri ile dar ve rekabetçi spreadleri ile ÇarşıFX'de işlem yapmak rahatlık ve kolaylık sağlar.
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 icon-boxes">
                    <div class="icon-box">
                        <div class="icon">
                            <img src="images/icon_5-24_acik_piyasa.svg" class="img-fluid" alt="5/24 Açık Piyasa" />
                        </div>
                        <div class="title">
                            Gram Altın ve Sarrafiyeler
                        </div>
                        <div class="description">
                            Sektörde ilk kez ÇarşıFX'de Çeyrek Altın, Yarım Altın, Tam Altın ve Gram Altın alınıp satılabilmektedir.
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 icon-boxes">
                    <div class="icon-box">
                        <div class="icon">
                            <img src="images/icon_5-24_acik_piyasa.svg" class="img-fluid" alt="5/24 Açık Piyasa" />
                        </div>
                        <div class="title">
                            Çeşitli Hisse Senetleri
                        </div>
                        <div class="description">
                            Başta Avrupa olmak üzere, ABD ve Asya hisse senetleri ÇarşıFX bünyesinde alınıp satılabilmekte. Temettü gelirleri elde edilebilmektedir.
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>


    <!-- include free membership component -->
    {% include "./layouts/components/free-membership.twig" %}
    <!-- end include free membership component -->

    <!-- include register steps component --->
    {% include "./layouts/components/register-steps.twig" %}
    <!-- end include register steps component --->

    <!-- include footer -->
    {% include "./layouts/footer.twig" %}
    <!-- include footer -->

{% endblock %}