{% extends "layouts/base.twig" %}

{% block page_content %}

    {% set showPhone = false %}

    <section class="content-slider slider-small">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="slider-content">

                        <div class="section-title">
                            <h2>Biz Kimiz ?</h2>
                            <p>
                                Şirketimiz, 0000 yılında Çarşı Menkul Değerler A.Ş. unvanı ile kurulmuştur. Foreks işlemleri konusunda Geniş yetkili aracı kurum olarak faaliyetine devam eden şirketimiz, 2019 yılı itibariyle dar yetkili aracı kurum kapsamında faaliyetine devam etmektedir.
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="slider-image" style="background:url('./images/about_banner.png') no-repeat;"></div>
    </section>

    <section class="page-about-our-achievements">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="section-title text-center">
                        <h2>Başarılarımız</h2>
                        <p>
                            Yatırımcılarımız, İngilizce ve Türkçe dil destekli yeni nesil teknolojiyle işlem yapabilmek için kullanıcı dostu bu en yeni nesil platformandan yararlanılabilir.Fiyat,grafik analiz ve ürün özellikleri gibi araçlara en güvenilir ve hızla erişim sağlayabilir.
                        </p>
                    </div>

                </div>
            </div>

            <div class="row">

                <div class="col-lg-12 col-md-4 col-sm-4 col-xs-12">

                    <div class="award-box">
                        <img src="images/award1.png" />
                        <img src="images/award2.png" />
                        <img src="images/award3.png" />
                    </div>

                </div>

            </div>

        </div>

    </section>

    <section class="page-about-our-advantages">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="section-title text-center">
                        <h2>Avantajlarımız</h2>
                        <p>
                            Yatırımcılarımız, İngilizce ve Türkçe dil destekli yeni nesil teknolojiyle işlem yapabilmek için kullanıcı dostu bu en yeni nesil platformandan yararlanılabilir.Fiyat,grafik analiz ve ürün özellikleri gibi araçlara en güvenilir ve hızla erişim sağlayabilir.
                        </p>
                    </div>

                </div>
            </div>

            <div class="row icon-boxesb">

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 icon-boxes">
                    <div class="icon-box">
                        <div class="icon">
                            <img src="images/icon_5-24_acik_piyasa.svg" class="img-fluid" alt="5/24 Açık Piyasa" />
                        </div>
                        <div class="title">
                            5/24 Açık Piyasa
                        </div>
                        <div class="description">
                            Bu piyasa uyumuyor; hafta içi 5 gün 24 saat, günün her anında kaldıraçlı yatırım
                            işlemleri yapın.
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 icon-boxes">
                    <div class="icon-box">
                        <div class="icon">
                            <img src="images/icon_5-24_acik_piyasa.svg" class="img-fluid" alt="5/24 Açık Piyasa" />
                        </div>
                        <div class="title">
                            5/24 Açık Piyasa
                        </div>
                        <div class="description">
                            Bu piyasa uyumuyor; hafta içi 5 gün 24 saat, günün her anında kaldıraçlı yatırım
                            işlemleri yapın.
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 icon-boxes">
                    <div class="icon-box">
                        <div class="icon">
                            <img src="images/icon_5-24_acik_piyasa.svg" class="img-fluid" alt="5/24 Açık Piyasa" />
                        </div>
                        <div class="title">
                            5/24 Açık Piyasa
                        </div>
                        <div class="description">
                            Bu piyasa uyumuyor; hafta içi 5 gün 24 saat, günün her anında kaldıraçlı yatırım
                            işlemleri yapın.
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 icon-boxes">
                    <div class="icon-box">
                        <div class="icon">
                            <img src="images/icon_5-24_acik_piyasa.svg" class="img-fluid" alt="5/24 Açık Piyasa" />
                        </div>
                        <div class="title">
                            5/24 Açık Piyasa
                        </div>
                        <div class="description">
                            Bu piyasa uyumuyor; hafta içi 5 gün 24 saat, günün her anında kaldıraçlı yatırım
                            işlemleri yapın.
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 icon-boxes">
                    <div class="icon-box">
                        <div class="icon">
                            <img src="images/icon_5-24_acik_piyasa.svg" class="img-fluid" alt="5/24 Açık Piyasa" />
                        </div>
                        <div class="title">
                            5/24 Açık Piyasa
                        </div>
                        <div class="description">
                            Bu piyasa uyumuyor; hafta içi 5 gün 24 saat, günün her anında kaldıraçlı yatırım
                            işlemleri yapın.
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 icon-boxes">
                    <div class="icon-box">
                        <div class="icon">
                            <img src="images/icon_5-24_acik_piyasa.svg" class="img-fluid" alt="5/24 Açık Piyasa" />
                        </div>
                        <div class="title">
                            5/24 Açık Piyasa
                        </div>
                        <div class="description">
                            Bu piyasa uyumuyor; hafta içi 5 gün 24 saat, günün her anında kaldıraçlı yatırım
                            işlemleri yapın.
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>


    <!-- include free membership component -->
    {% include "./layouts/components/free-membership.twig" %}
    <!-- end include free membership component -->

    <!-- include register steps component --->
    {% include "./layouts/components/register-steps.twig" %}
    <!-- end include register steps component --->

    <!-- include footer -->
    {% include "./layouts/footer.twig" %}
    <!-- include footer -->

{% endblock %}