{% extends "layouts/base.twig" %}

{% block page_content %}


    <section class="content-slider slider-small">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="slider-content">

                        <div class="section-title">
                            <h2>Hesap İşlemleri</h2>
                            <p>
                                ÇarşıFX’de forex hesabı açılış işlemlerinizi müşteri temsilcilerimizden destek alarak kolaylıkla gerçekleştirebilirsiniz. Açacağınız hesabın türüne göre bireysel veya kurumsal hesap açılış sözleşmemizi tam ve eksiksiz olarak doldurup imzalayarak hesap açılış evraklarınızla birlikte tarafımıza iletmeniz gerekmektedir. Hesap açılışı için sözleşmelere ek olarak kimlik ve adres teyit belgelerinin yanı sıra, uygunluk testi ve risk bildirim formunun da tarafımıza teslim edilmesi gerekmektedir.
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="slider-image" style="background:url('./images/account_types_banner.png') no-repeat;"></div>
    </section>

    <section class="page-account-actions-section">

        <div class="container">
            <div class="section-title">
                <h2>Hesap Açılışının Tamamlanması İçin Gerekli Belgeler;</h2>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xs-12">

                    <div class="content">

                        <h3 class="small-title">Bireysel Müşterilerimiz için;</h3>

                        <ul>
                            <li>Kimlik Belgesi Fotokopisi : Nüfus Cüzdanı fotokopisi veya ehliyet fotokopisi.</li>
                            <li>Adres Belgesi Fotokopisi: İkametgah belgesi veya son üç aya ait bir fatura.</li>
                            <li>Sözleşme : Müşterinin kendi el yazısıyla tam ve eksiksiz doldurulmuş ıslak imza içeren müşteri sözleşmesi.</li>
                        </ul>

                    </div>

                    <div class="content">

                        <h3 class="small-title">Kurumsal Müşterilerimiz için;</h3>

                        <ul>
                            <li>Kurumsal Müşteri Sözleşmesi</li>
                            <li>Nüfus Cüzdanı, Ehliyet ya da Pasaport fotokopisi (kurumu temsile yetkili kişilerin)</li>
                            <li>Vergi Levhası fotokopisi</li>
                            <li>Ticaret Sicil Gazetesi fotokopisi (adres doğrulaması için)</li>
                            <li>Ticaret Sicil Belgesi veya Faaliyet Belgesi fotokopisi</li>
                            <li>Temsile yetkili kişilerin, yetki durumlarını gösteren noter onaylı imza sirküleri</li>
                            <li>Tüzel kişiliğin %25’den fazlasına sahip;</li>
                        </ul>

                        <p>
                            SPK tarafından belirlenen tebliğ gereğince sözleşmenin her sayfasını doldurmanız ve eksiksiz imzalamanız gerekmektedir. Ayrıca noter tasdikli imza beyannamesini de sözleşmeniz ve gerekli diğer belgelerinizle birlikte göndermeniz önemle rica olunur.
                        </p>

                    </div>

                    <div class="content">

                        <h3 class="small-title">Belge gönderim süreci;</h3>

                        <p>
                            Bütün belgelerinizi dilediğiniz kargo şirketiyle ücretsiz gönderebileceğiniz gibi müşteri sözleşmeleriniz hariç Kimlik ve adres belgenizi faks veya mail olarak da bizlere yönlendirebilirsiniz.
                        </p>

                        <p>
                            <strong>Not:</strong> Müşteri Sözleşmesi'nin elektronik ortamda gönderilmesi kanunen uygun değildir.
                        </p>

                    </div>

                    <div class="content">
                        <h3 class="small-title">Her aşamada beraber aksiyon alalım;</h3>
                        <p>
                            ÇarşıFX ailesi olarak sizinle tanışmak, işlem süreçlerimizi size yerinde aktarmak ve eş zamanlı olarak belge, hesap açılış işlemlerinizi gerçekleştirmek için sizleri bekliyoruz.
                        </p>

                        <div class="action-contact-details">

                            <strong class="placeholder">Adres: </strong> <span>Lorem ipsum dolar sit amet</span> <br />
                            <strong class="placeholder">Telefon: </strong> <span>Lorem ipsum dolar sit amet</span> <br />
                            <strong class="placeholder">Fax: </strong> <span>Lorem ipsum dolar sit amet</span> <br />
                            <strong class="placeholder">E-Posta: </strong> <a href="mailto://info@carsifx.com.tr">info@carsifx.com.tr</a>

                        </div>

                    </div>

                    <div class="content">
                        <h3 class="small-title">Hesap açılışı sonrası hizmetlerimiz;</h3>
                        <ul>
                            <li>Hesap açılışı sonrasında hesap detayları ve banka transfer bilgileri, tarafımızdan e-mail olarak sizinle paylaşılacaktır.</li>
                            <li>Uzman TERAFX müşteri temsilcilerimiz piyasanın işleyişi ve MetaTrader 4 işlem platformu kullanımı ile ilgili gerekli bilgilendirmeyi size aktarıp sadece hesap açılışı değil her türlü işlemlerinizde memnuniyetle yardımcı olmaya hazır olacaktır.</li>
                            <li>Para transferi yapıldıktan sonra MetaTrader 4 işlem platformu kullanıcı adı ve şifrenizin e-mail olarak gönderilmesinin ardından TERAFX güvencesiyle Forex dünyasına katılabilirsiniz.</li>
                        </ul>

                        <p>ÇarşıFX ailesi olarak Forex piyasasındaki işlemleriniz hakkında soru, istek ve önerilerinizi memnuniyetle cevaplamaya hazırız.</p>

                    </div>

                </div>
            </div>
        </div>

    </section>

    <!-- include free membership component -->
    {% include "./layouts/components/free-membership.twig" %}
    <!-- end include free membership component -->

    <!-- include register steps component --->
    {% include "./layouts/components/register-steps.twig" %}
    <!-- end include register steps component --->

    <!-- include footer -->
    {% include "./layouts/footer.twig" %}
    <!-- include footer -->

{% endblock %}