{% extends "layouts/base.twig" %}

{% block page_content %}

    {% set showPhone = false %}

    <section class="content-slider slider-small">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="slider-content">

                        <div class="section-title">
                            <h2>Hesap Türleri</h2>
                            <p>
                                ÇARŞIFX Global Markets, İstediğiniz her seviyede işlem yapmak için gerekli olan tüm esnekliği size sağlar.Her hesap türünde size sağlanan premium hizmetleri ÇARŞIFX’te bulabilirsiniz.
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="slider-image" style="background:url('./images/account_types_banner.png') no-repeat;"></div>
    </section>

    <section class="page-account-types">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title text-center">
                        <h2>Hesap Türleri</h2>
                        <p>
                            Aşağıda bulunan hesap türlerini inceleyerek size uygun olan hesabı ÇARŞIFX'te kolaylıkla açabilirsiniz
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12 col-xs-12">

                    <div class="account-type-card card-primary">

                        <div class="account-card-header">
                            <span class="header-icon">
                                <img src="images/standard_account_icon.svg" class="img-fluid" />
                            </span>
                            <h3>Standart Hesap</h3>
                        </div>

                        <div class="account-card-body">
                            <div class="description">
                                Düşük bütçeli yatırımlar ile dünya piyasasını tanımanız için kullanabileceğiniz hesap türü
                            </div>
                            <div class="features">
                                <ul class="list-unstyled">
                                    <li>
                                        <i class="feature-icon" data-feather="check"></i>
                                        <strong>1.2</strong> *başlayan
                                    </li>
                                    <li>
                                        <i class="feature-icon" data-feather="check"></i>
                                        Borsa, Kripto, Parite ve Emtia
                                    </li>
                                    <li>
                                        <i class="feature-icon" data-feather="check"></i>
                                        Sinyal
                                    </li>
                                    <li>
                                        <i class="feature-icon" data-feather="check"></i>
                                        Analiz
                                    </li>
                                    <li>
                                        <i class="feature-icon" data-feather="check"></i>
                                        7 Gün / 24 Saat
                                    </li>
                                </ul>
                            </div>

                            <div class="account-card-footer">
                                <a href="javascript:;" class="btn btn-primary">
                                    Hesap aç
                                </a>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12 col-xs-12">

                    <div class="account-type-card card-premium">

                        <div class="account-card-header">
                            <span class="header-icon">
                                <img src="images/premium_account_icon.svg" class="img-fluid" />
                            </span>
                            <h3>Premium Hesap</h3>
                        </div>

                        <div class="account-card-body">
                            <div class="description">
                                Tecrübeli yatırımcılarımız için sağladığımız yüksek lotlar ile yüksek kazanç sağlanabilecek grubumuz.                            </div>
                            <div class="features">
                                <ul class="list-unstyled">
                                    <li>
                                        <i class="feature-icon" data-feather="check"></i>
                                        <strong>0.6</strong> *başlayan
                                    </li>
                                    <li>
                                        <i class="feature-icon" data-feather="check"></i>
                                        Borsa, Kripto, Parite ve Emtia
                                    </li>
                                    <li>
                                        <i class="feature-icon" data-feather="check"></i>
                                        Sinyal
                                    </li>
                                    <li>
                                        <i class="feature-icon" data-feather="check"></i>
                                        Analiz
                                    </li>
                                    <li>
                                        <i class="feature-icon" data-feather="check"></i>
                                        7 Gün / 24 Saat
                                    </li>
                                </ul>
                            </div>

                            <div class="account-card-footer">
                                <a href="javascript:;" class="btn btn-primary">
                                    Hesap aç
                                </a>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12 col-xs-12">

                    <div class="account-type-card card-vip">

                        <div class="account-card-header">
                            <span class="header-icon">
                                <img src="images/vip_account_icon.svg" class="img-fluid" />
                            </span>
                            <h3>VIP Hesap</h3>
                        </div>

                        <div class="account-card-body">
                            <div class="description">
                                Düşük bütçeli yatırımlar ile dünya piyasasını tanımanız için kullanabileceğiniz hesap türü
                            </div>
                            <div class="features">
                                <ul class="list-unstyled">
                                    <li>
                                        <i class="feature-icon" data-feather="check"></i>
                                        <strong>0.4</strong> *başlayan
                                    </li>
                                    <li>
                                        <i class="feature-icon" data-feather="check"></i>
                                        Borsa, Kripto, Parite ve Emtia
                                    </li>
                                    <li>
                                        <i class="feature-icon" data-feather="check"></i>
                                        Sinyal
                                    </li>
                                    <li>
                                        <i class="feature-icon" data-feather="check"></i>
                                        Analiz
                                    </li>
                                    <li>
                                        <i class="feature-icon" data-feather="check"></i>
                                        7 Gün / 24 Saat
                                    </li>
                                </ul>
                            </div>

                            <div class="account-card-footer">
                                <a href="javascript:;" class="btn btn-primary">
                                    Hesap aç
                                </a>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <!-- include free membership component -->
    {% include "./layouts/components/free-membership.twig" %}
    <!-- end include free membership component -->

    <!-- include register steps component --->
    {% include "./layouts/components/register-steps.twig" %}
    <!-- end include register steps component --->

    <!-- include footer -->

    {% include "./layouts/footer.twig" %}

    <!-- include footer -->

{% endblock %}