{% extends "layouts/base.twig" %}

{% block page_content %}

    {% set showPhone = false %}

    <section class="content-slider slider-small">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="slider-content">

                        <div class="section-title">
                            <h2>Günlük Piyasa Analizi</h2>
                            <p>
                                Para ve mallar için derinlemesine teknik ve temel analiz.
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="slider-image" style="background:url('./images/analysis_banner.png') no-repeat;"></div>
    </section>

    <section class="page-analysis-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title">
                        <h2>18.11.2020 tarihli Euro Dolar Yorum ve EUR/USD Paritesi Analizleri</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="analysis-image">
                        <img src="./images/grafik.jpg" />
                    </div>
                </div>
            </div>

            <p>&nbsp;</p>

            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title">
                        <h2>Teknik Genel Bakış</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>

                <p>&nbsp;</p>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title">
                        <h2>Temel Genel Bakış</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section class="section-register-steps">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title text-center">
                        <h2>Çarşı FX ile forex’e kolayca başlangıç yapın</h2>
                        <p style="width: 80%; margin:20px auto;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 steps-container">

                    <div class="step-card step-1">
                        <div class="step-outer step-bg-primary">
                            <div class="step-inner">
                                <span class="step-num">1</span>
                            </div>
                        </div>
                        <div class="step-title">
                            Kayıt Formunu Doldurun
                        </div>
                        <div class="description">
                            Hemen üye olun ve Kale ÇarşıFX’i $000 sanal para ile deneyin.
                        </div>
                    </div>

                    <div class="step-card step-2">
                        <div class="step-outer step-bg-info">
                            <div class="step-inner">
                                <span class="step-num">2</span>
                            </div>
                        </div>
                        <div class="step-title">
                            Onay İşlemini Tamamlayın
                        </div>
                        <div class="description">
                            Gerekli dökümanları sisteme yükleyin ve hesabınızı onaylayın.
                        </div>
                    </div>

                    <div class="step-card step-3">
                        <div class="step-outer step-bg-secondary">
                            <div class="step-inner">
                                <span class="step-num">3</span>
                            </div>
                        </div>
                        <div class="step-title">
                            Yatırıma Başla
                        </div>
                        <div class="description">
                            Kale Fx’in zengin yatırım çeşitliliğinde yatırımlarınızı yönetin.
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <!-- include footer -->

    {% include "./layouts/footer.twig" %}

    <!-- include footer -->

{% endblock %}