{% extends "layouts/base.twig" %}

{% block page_content %}

    {% set showPhone = false %}

    <section class="content-slider slider-small">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="slider-content">

                        <div class="section-title">
                            <h2>Günlük Piyasa Analizi</h2>
                            <p>
                                ÇarşıFX'in uzman kadrosunun hazırladığı günlük forex bültenleri ile, dolarda, altında, euroda ne yapacağınızı bilirsiniz. Her gün 5 farklı döviz çiftinde ve altın ile gümüş ürünlerinde taze analizler sabah kapınıza gelir. Uyumadan hareket eden piyasalarda bir dakika bile vakit kaybetmemiş olursunuz.

                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="slider-image" style="background:url('./images/analysis_banner.png') no-repeat;"></div>
    </section>

    <section class="page-analysis-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title">
                        <h2>18.11.2020 tarihli Euro Dolar Yorum ve EUR/USD Paritesi Analizleri</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="analysis-image">
                        <img src="./images/grafik.jpg" />
                    </div>
                </div>
            </div>

            <p>&nbsp;</p>

            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title">
                        <h2>Teknik Genel Bakış</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>

                <p>&nbsp;</p>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title">
                        <h2>Temel Genel Bakış</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-- include register steps component --->
    {% include "./layouts/components/register-steps.twig" %}
    <!-- end include register steps component --->


    <!-- include footer -->
    {% include "./layouts/footer.twig" %}
    <!-- include footer -->

{% endblock %}