{% extends "layouts/base.twig" %}

{% block page_content %}

    {% set showPhone = false %}

    <section class="content-slider slider-small">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="slider-content">

                        <div class="section-title">
                            <h2>Günlük Piyasa Analizi</h2>
                            <p>
                                Para ve mallar için derinlemesine teknik ve temel analiz.
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="slider-image" style="background:url('./images/analysis_banner.png') no-repeat;"></div>
    </section>

    <section class="page-analysis-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title text-center">
                        <h2>Lorem ipsum dolar sit amet</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="custom-tabs-container">

                        <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" id="all-news-tab" data-toggle="tab" href="#all">Hepsi</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="trade-news-tab" data-toggle="tab" href="#trade">Ticaret</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="tech-analysis-tab" data-toggle="tab" href="#tech">Teknik Analiz</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" id="basic-analysis-tab" data-toggle="tab" href="#basic">Temel Analiz</a>
                            </li>
                        </ul>

                        <div class="tab-content" id="myTabContent">

                            <div class="tab-pane fade show active" id="all" role="tabpanel" aria-labelledby="home-tab">

                                <div class="analysis-news-container">

                                    <div class="analysis-card  card-full">
                                        <div class="cover">
                                            <img src="images/analysis_detail.jpg" class="img-fluid" />
                                        </div>
                                        <div class="card-content">
                                            <div class="category-date">
                                                <span class="category">Ticaret</span>
                                                <span class="date">12 Ekim 2020</span>
                                            </div>
                                            <h3 class="title">AUDJPY pariteisnde 74.797 önemli bir direnç görülebilir</h3>
                                            <div class="details">
                                                EURCHF paritesinde düşen kanal görünümü içinde fiyatlamalar devam ediyor. Fiyat kanalın üst bandına yakın seyretmekte ve bu bölgede bir kırılım harici kalıcılık satış baskısının güçlenmesini gündeme getirebilir. Bu durumda EURCHF paritesinde ilk olarak 1.06977, akabinde ise 1.06450 bölgesine kadar bir düşüş yaşanabilir. Yükseliş hareketlerinde ise 1.07367 seviyesinin kritik bir arz bölgesi olduğunu söyleyebiliriz. Eğer fiyat bu arz bölgesini aşabilir ve üzerinde saatlik mum kapanışı gösterebilirse düşen görünüm kırılmış olur ve bu durumda 1.07910 seviyesi yeni hedef fiyat olarak takip edilebilir.                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="similar-news">

                                    <div class="title">
                                        Benzer
                                    </div>

                                    <div class="analysis-news-container">
                                        <div class="analysis-card">
                                            <div class="cover">
                                                <img src="images/analysis_news_image_2.jpg" class="img-fluid" />
                                            </div>
                                            <div class="card-content">
                                                <div class="category-date">
                                                    <span class="category">Ticaret</span>
                                                    <span class="date">12 Ekim 2020</span>
                                                </div>
                                                <h3 class="title">AUDJPY pariteisnde 74.797 önemli bir direnç görülebilir</h3>
                                                <div class="details">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                                </div>
                                                <a class="detail">
                                                    Detay
                                                    <span class="detail-icon">
                                                    <i data-feather="arrow-right"></i>
                                                </span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="analysis-card">
                                            <div class="cover">
                                                <img src="images/analysis_news_image_3.jpg" class="img-fluid" />
                                            </div>
                                            <div class="card-content">
                                                <div class="category-date">
                                                    <span class="category">Ticaret</span>
                                                    <span class="date">12 Ekim 2020</span>
                                                </div>
                                                <h3 class="title">AUDJPY pariteisnde 74.797 önemli bir direnç görülebilir</h3>
                                                <div class="details">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                                </div>
                                                <a class="detail">
                                                    Detay
                                                    <span class="detail-icon">
                                                    <i data-feather="arrow-right"></i>
                                                </span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="analysis-card">
                                            <div class="cover">
                                                <img src="images/analysis_news_image_4.jpg" class="img-fluid" />
                                            </div>
                                            <div class="card-content">
                                                <div class="category-date">
                                                    <span class="category">Ticaret</span>
                                                    <span class="date">12 Ekim 2020</span>
                                                </div>
                                                <h3 class="title">AUDJPY pariteisnde 74.797 önemli bir direnç görülebilir</h3>
                                                <div class="details">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                                </div>
                                                <a class="detail">
                                                    Detay
                                                    <span class="detail-icon">
                                                    <i data-feather="arrow-right"></i>
                                                </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="similar-news">

                                    <div class="title">
                                        En Son
                                    </div>

                                    <div class="analysis-news-container">
                                        <div class="analysis-card">
                                            <div class="cover">
                                                <img src="images/analysis_news_image_5.jpg" class="img-fluid" />
                                            </div>
                                            <div class="card-content">
                                                <div class="category-date">
                                                    <span class="category">Ticaret</span>
                                                    <span class="date">12 Ekim 2020</span>
                                                </div>
                                                <h3 class="title">AUDJPY pariteisnde 74.797 önemli bir direnç görülebilir</h3>
                                                <div class="details">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                                </div>
                                                <a class="detail">
                                                    Detay
                                                    <span class="detail-icon">
                                                    <i data-feather="arrow-right"></i>
                                                </span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="analysis-card">
                                            <div class="cover">
                                                <img src="images/analysis_news_image_2.jpg" class="img-fluid" />
                                            </div>
                                            <div class="card-content">
                                                <div class="category-date">
                                                    <span class="category">Ticaret</span>
                                                    <span class="date">12 Ekim 2020</span>
                                                </div>
                                                <h3 class="title">AUDJPY pariteisnde 74.797 önemli bir direnç görülebilir</h3>
                                                <div class="details">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                                </div>
                                                <a class="detail">
                                                    Detay
                                                    <span class="detail-icon">
                                                    <i data-feather="arrow-right"></i>
                                                </span>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="analysis-card">
                                            <div class="cover">
                                                <img src="images/analysis_news_image_6.jpg" class="img-fluid" />
                                            </div>
                                            <div class="card-content">
                                                <div class="category-date">
                                                    <span class="category">Ticaret</span>
                                                    <span class="date">12 Ekim 2020</span>
                                                </div>
                                                <h3 class="title">AUDJPY pariteisnde 74.797 önemli bir direnç görülebilir</h3>
                                                <div class="details">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                                </div>
                                                <a class="detail">
                                                    Detay
                                                    <span class="detail-icon">
                                                    <i data-feather="arrow-right"></i>
                                                </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="tab-pane fade" id="trade" role="tabpanel" aria-labelledby="home-tab">
                                <div class="analysis-news-container">
                                    <div class="analysis-card">
                                        <div class="cover">
                                            <img src="images/analysis-news-image.jpg" class="img-fluid" />
                                        </div>
                                        <div class="card-content">
                                            <div class="category-date">
                                                <span class="category">Ticaret</span>
                                                <span class="date">12 Ekim 2020</span>
                                            </div>
                                            <h3 class="title">AUDJPY pariteisnde 74.797 önemli bir direnç görülebilir</h3>
                                            <div class="details">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                            </div>
                                            <a class="detail">
                                                Detay
                                                <span class="detail-icon">
                                                    <i data-feather="arrow-right"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="analysis-card">
                                        <div class="cover">
                                            <img src="images/analysis_news_image_2.jpg" class="img-fluid" />
                                        </div>
                                        <div class="card-content">
                                            <div class="category-date">
                                                <span class="category">Ticaret</span>
                                                <span class="date">12 Ekim 2020</span>
                                            </div>
                                            <h3 class="title">AUDJPY pariteisnde 74.797 önemli bir direnç görülebilir</h3>
                                            <div class="details">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                            </div>
                                            <a class="detail">
                                                Detay
                                                <span class="detail-icon">
                                                    <i data-feather="arrow-right"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="analysis-card">
                                        <div class="cover">
                                            <img src="images/analysis_news_image_2.jpg" class="img-fluid" />
                                        </div>
                                        <div class="card-content">
                                            <div class="category-date">
                                                <span class="category">Ticaret</span>
                                                <span class="date">12 Ekim 2020</span>
                                            </div>
                                            <h3 class="title">AUDJPY pariteisnde 74.797 önemli bir direnç görülebilir</h3>
                                            <div class="details">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                            </div>
                                            <a class="detail">
                                                Detay
                                                <span class="detail-icon">
                                                    <i data-feather="arrow-right"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="tech" role="tabpanel" aria-labelledby="home-tab">
                                <div class="analysis-news-container">
                                    <div class="analysis-card">
                                        <div class="cover">
                                            <img src="images/analysis-news-image.jpg" class="img-fluid" />
                                        </div>
                                        <div class="card-content">
                                            <div class="category-date">
                                                <span class="category">Ticaret</span>
                                                <span class="date">12 Ekim 2020</span>
                                            </div>
                                            <h3 class="title">AUDJPY pariteisnde 74.797 önemli bir direnç görülebilir</h3>
                                            <div class="details">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                            </div>
                                            <a class="detail">
                                                Detay
                                                <span class="detail-icon">
                                                    <i data-feather="arrow-right"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="analysis-card">
                                        <div class="cover">
                                            <img src="images/analysis_news_image_2.jpg" class="img-fluid" />
                                        </div>
                                        <div class="card-content">
                                            <div class="category-date">
                                                <span class="category">Ticaret</span>
                                                <span class="date">12 Ekim 2020</span>
                                            </div>
                                            <h3 class="title">AUDJPY pariteisnde 74.797 önemli bir direnç görülebilir</h3>
                                            <div class="details">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                            </div>
                                            <a class="detail">
                                                Detay
                                                <span class="detail-icon">
                                                    <i data-feather="arrow-right"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="analysis-card">
                                        <div class="cover">
                                            <img src="images/analysis_news_image_2.jpg" class="img-fluid" />
                                        </div>
                                        <div class="card-content">
                                            <div class="category-date">
                                                <span class="category">Ticaret</span>
                                                <span class="date">12 Ekim 2020</span>
                                            </div>
                                            <h3 class="title">AUDJPY pariteisnde 74.797 önemli bir direnç görülebilir</h3>
                                            <div class="details">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                            </div>
                                            <a class="detail">
                                                Detay
                                                <span class="detail-icon">
                                                    <i data-feather="arrow-right"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="basic" role="tabpanel" aria-labelledby="home-tab">
                                <div class="analysis-news-container">
                                    <div class="analysis-card">
                                        <div class="cover">
                                            <img src="images/analysis-news-image.jpg" class="img-fluid" />
                                        </div>
                                        <div class="card-content">
                                            <div class="category-date">
                                                <span class="category">Ticaret</span>
                                                <span class="date">12 Ekim 2020</span>
                                            </div>
                                            <h3 class="title">AUDJPY pariteisnde 74.797 önemli bir direnç görülebilir</h3>
                                            <div class="details">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                            </div>
                                            <a class="detail">
                                                Detay
                                                <span class="detail-icon">
                                                    <i data-feather="arrow-right"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="analysis-card">
                                        <div class="cover">
                                            <img src="images/analysis_news_image_2.jpg" class="img-fluid" />
                                        </div>
                                        <div class="card-content">
                                            <div class="category-date">
                                                <span class="category">Ticaret</span>
                                                <span class="date">12 Ekim 2020</span>
                                            </div>
                                            <h3 class="title">AUDJPY pariteisnde 74.797 önemli bir direnç görülebilir</h3>
                                            <div class="details">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                            </div>
                                            <a class="detail">
                                                Detay
                                                <span class="detail-icon">
                                                    <i data-feather="arrow-right"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>

                                    <div class="analysis-card">
                                        <div class="cover">
                                            <img src="images/analysis_news_image_2.jpg" class="img-fluid" />
                                        </div>
                                        <div class="card-content">
                                            <div class="category-date">
                                                <span class="category">Ticaret</span>
                                                <span class="date">12 Ekim 2020</span>
                                            </div>
                                            <h3 class="title">AUDJPY pariteisnde 74.797 önemli bir direnç görülebilir</h3>
                                            <div class="details">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                            </div>
                                            <a class="detail">
                                                Detay
                                                <span class="detail-icon">
                                                    <i data-feather="arrow-right"></i>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>
    </section>

    <section class="section-register-steps">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title text-center">
                        <h2>Çarşı FX ile forex’e kolayca başlangıç yapın</h2>
                        <p style="width: 80%; margin:20px auto;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 steps-container">

                    <div class="step-card step-1">
                        <div class="step-outer step-bg-primary">
                            <div class="step-inner">
                                <span class="step-num">1</span>
                            </div>
                        </div>
                        <div class="step-title">
                            Kayıt Formunu Doldurun
                        </div>
                        <div class="description">
                            Hemen üye olun ve Kale ÇarşıFX’i $000 sanal para ile deneyin.
                        </div>
                    </div>

                    <div class="step-card step-2">
                        <div class="step-outer step-bg-info">
                            <div class="step-inner">
                                <span class="step-num">2</span>
                            </div>
                        </div>
                        <div class="step-title">
                            Onay İşlemini Tamamlayın
                        </div>
                        <div class="description">
                            Gerekli dökümanları sisteme yükleyin ve hesabınızı onaylayın.
                        </div>
                    </div>

                    <div class="step-card step-3">
                        <div class="step-outer step-bg-secondary">
                            <div class="step-inner">
                                <span class="step-num">3</span>
                            </div>
                        </div>
                        <div class="step-title">
                            Yatırıma Başla
                        </div>
                        <div class="description">
                            Kale Fx’in zengin yatırım çeşitliliğinde yatırımlarınızı yönetin.
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <!-- include footer -->

    {% include "./layouts/footer.twig" %}

    <!-- include footer -->

{% endblock %}