{% extends "layouts/base.twig" %}

{% block page_content %}

    {% set showPhone = false %}

    <section class="content-slider slider-small">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="slider-content">

                        <div class="section-title">
                            <h2>Duyurular</h2>
                            <p>
                                Aşağıda yer alan iletişim kanallarımızı kullanarak veya iletişim formumuzu kullanarak
                                bize hızlıca ulaşabilirsiniz.
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="slider-image" style="background:url('./images/announcements_banner.png') no-repeat;"></div>
    </section>

    <section class="page-announcements-section">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12
                        <p>
                            Aşağıda yer alan iletişim kanallarımızı kullanarak veya iletişim formumuzu kullanarak bize hızlıca ulaşabilirsiniz.
                        </p> col-xs-12">

                    <div class="section-title text-center">
                        <h2>Duyurular</h2>
                    </div>

                </div>
            </div>

            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="announcements-container">

                        <div class="announcement-card">

                            <div class="timeline">
                                <span class="dot">
                                    <i class="fa fa-circle"></i>
                                </span>
                                <span class="date"><strong>30.10.2020</strong> / 13:30</span>
                            </div>

                            <div class="announcement-details">

                                <h3 class="title">Dar Yetkili Aracı Kurum Olarak Yetkilendirilme Başvurusuna İlişkin Duyuru Metni</h3>

                                <div class="details">
                                    06.12.2012 tarihli ve 6362 sayılı Sermaye Piyasası Kanunu’nun (SPKn) 83. Maddesi ve Yatırımcı Tazmin Merkezi’nin 12.03.2015 Tarih ve 85880057-0139 Sayılı yazısı uyarınca, yatırım hizmetleri ve faaliyetlerinden kaynaklanan her türlü emanet ve alacaklarının,
                                </div>

                            </div>


                        </div>
                        <div class="announcement-card">

                            <div class="timeline align-self-center">
                                <span class="dot">
                                    <i class="fa fa-circle"></i>
                                </span>
                                <span class="date"><strong>30.10.2020</strong> / 13:30</span>
                            </div>

                            <div class="announcement-details">

                                <h3 class="title">Dar Yetkili Aracı Kurum Olarak Yetkilendirilme Başvurusuna İlişkin Duyuru Metni</h3>

                                <div class="details">
                                    06.12.2012 tarihli ve 6362 sayılı Sermaye Piyasası Kanunu’nun (SPKn) 83. Maddesi ve Yatırımcı Tazmin Merkezi’nin 12.03.2015 Tarih ve 85880057-0139 Sayılı yazısı uyarınca, yatırım hizmetleri ve faaliyetlerinden kaynaklanan her türlü emanet ve alacaklarının,
                                </div>

                            </div>


                        </div>
                        <div class="announcement-card">

                            <div class="timeline align-self-center">
                                <span class="dot">
                                    <i class="fa fa-circle"></i>
                                </span>
                                <span class="date"><strong>30.10.2020</strong> / 13:30</span>
                            </div>

                            <div class="announcement-details">

                                <h3 class="title">Dar Yetkili Aracı Kurum Olarak Yetkilendirilme Başvurusuna İlişkin Duyuru Metni</h3>

                                <div class="details">
                                    06.12.2012 tarihli ve 6362 sayılı Sermaye Piyasası Kanunu’nun (SPKn) 83. Maddesi ve Yatırımcı Tazmin Merkezi’nin 12.03.2015 Tarih ve 85880057-0139 Sayılı yazısı uyarınca, yatırım hizmetleri ve faaliyetlerinden kaynaklanan her türlü emanet ve alacaklarının,
                                </div>

                            </div>


                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <!-- include free membership component -->
    {% include "./layouts/components/free-membership.twig" %}
    <!-- end include free membership component -->

    <!-- include register steps component --->
    {% include "./layouts/components/register-steps.twig" %}
    <!-- end include register steps component --->

    <!-- include footer -->

    {% include "./layouts/footer.twig" %}

    <!-- include footer -->

{% endblock %}