{% extends "layouts/base.twig" %}

{% block page_content %}

    {% set showPhone = false %}

    <section class="content-slider slider-small">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="slider-content">

                        <div class="section-title">
                            <h2>Duyurular</h2>
                            <p>
                                Aşağıda yer alan iletişim kanallarımızı kullanarak veya iletişim formumuzu kullanarak
                                bize hızlıca ulaşabilirsiniz.
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="slider-image" style="background:url('./images/announcements_banner.png') no-repeat;"></div>
    </section>

    <section class="page-announcements-section">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12
                        <p>
                            Aşağıda yer alan iletişim kanallarımızı kullanarak veya iletişim formumuzu kullanarak bize hızlıca ulaşabilirsiniz.
                        </p> col-xs-12">

                    <div class="section-title text-center">
                        <h2>Duyurular</h2>
                    </div>

                </div>
            </div>

            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="announcements-container">

                        <div class="announcement-card">

                            <div class="timeline">
                                <span class="dot">
                                    <i class="fa fa-circle"></i>
                                </span>
                                <span class="date"><strong>30.10.2020</strong> / 13:30</span>
                            </div>

                            <div class="announcement-details">

                                <h3 class="title">Dar Yetkili Aracı Kurum Olarak Yetkilendirilme Başvurusuna İlişkin Duyuru Metni</h3>

                                <div class="details">
                                    06.12.2012 tarihli ve 6362 sayılı Sermaye Piyasası Kanunu’nun (SPKn) 83. Maddesi ve Yatırımcı Tazmin Merkezi’nin 12.03.2015 Tarih ve 85880057-0139 Sayılı yazısı uyarınca, yatırım hizmetleri ve faaliyetlerinden kaynaklanan her türlü emanet ve alacaklarının,
                                </div>

                            </div>


                        </div>
                        <div class="announcement-card">

                            <div class="timeline align-self-center">
                                <span class="dot">
                                    <i class="fa fa-circle"></i>
                                </span>
                                <span class="date"><strong>30.10.2020</strong> / 13:30</span>
                            </div>

                            <div class="announcement-details">

                                <h3 class="title">Dar Yetkili Aracı Kurum Olarak Yetkilendirilme Başvurusuna İlişkin Duyuru Metni</h3>

                                <div class="details">
                                    06.12.2012 tarihli ve 6362 sayılı Sermaye Piyasası Kanunu’nun (SPKn) 83. Maddesi ve Yatırımcı Tazmin Merkezi’nin 12.03.2015 Tarih ve 85880057-0139 Sayılı yazısı uyarınca, yatırım hizmetleri ve faaliyetlerinden kaynaklanan her türlü emanet ve alacaklarının,
                                </div>

                            </div>


                        </div>
                        <div class="announcement-card">

                            <div class="timeline align-self-center">
                                <span class="dot">
                                    <i class="fa fa-circle"></i>
                                </span>
                                <span class="date"><strong>30.10.2020</strong> / 13:30</span>
                            </div>

                            <div class="announcement-details">

                                <h3 class="title">Dar Yetkili Aracı Kurum Olarak Yetkilendirilme Başvurusuna İlişkin Duyuru Metni</h3>

                                <div class="details">
                                    06.12.2012 tarihli ve 6362 sayılı Sermaye Piyasası Kanunu’nun (SPKn) 83. Maddesi ve Yatırımcı Tazmin Merkezi’nin 12.03.2015 Tarih ve 85880057-0139 Sayılı yazısı uyarınca, yatırım hizmetleri ve faaliyetlerinden kaynaklanan her türlü emanet ve alacaklarının,
                                </div>

                            </div>


                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <section class="page-platforms-account-block">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="account-image">
                        <img src="images/platform_account_image.png" class="img-fluid"/>
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

                    <div class="section-title">
                        <h2>Ücretsiz Üye Olun</h2>
                    </div>

                    <div class="account-form">

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control input-custom" id="inputEmail4"
                                       placeholder="İsim"/>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="password" class="form-control input-custom" placeholder="Soyisim"/>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control input-custom" placeholder="Telefon"/>
                            </div>
                            <div class="form-group col-md-6">
                                <input type="password" class="form-control input-custom" placeholder="Eposta"/>
                            </div>
                        </div>

                        <div class="form-row mt-3">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-submit">Kayıt Ol</button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>

    <section class="section-register-steps">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title text-center">
                        <h2>Çarşı FX ile forex’e kolayca başlangıç yapın</h2>
                        <p style="width: 80%; margin:20px auto;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
                            voluptate velit.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 steps-container">

                    <div class="step-card step-1">
                        <div class="step-outer step-bg-primary">
                            <div class="step-inner">
                                <span class="step-num">1</span>
                            </div>
                        </div>
                        <div class="step-title">
                            Kayıt Formunu Doldurun
                        </div>
                        <div class="description">
                            Hemen üye olun ve Kale ÇarşıFX’i $000 sanal para ile deneyin.
                        </div>
                    </div>

                    <div class="step-card step-2">
                        <div class="step-outer step-bg-info">
                            <div class="step-inner">
                                <span class="step-num">2</span>
                            </div>
                        </div>
                        <div class="step-title">
                            Onay İşlemini Tamamlayın
                        </div>
                        <div class="description">
                            Gerekli dökümanları sisteme yükleyin ve hesabınızı onaylayın.
                        </div>
                    </div>

                    <div class="step-card step-3">
                        <div class="step-outer step-bg-secondary">
                            <div class="step-inner">
                                <span class="step-num">3</span>
                            </div>
                        </div>
                        <div class="step-title">
                            Yatırıma Başla
                        </div>
                        <div class="description">
                            Kale Fx’in zengin yatırım çeşitliliğinde yatırımlarınızı yönetin.
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <!-- include footer -->

    {% include "./layouts/footer.twig" %}

    <!-- include footer -->

{% endblock %}