{% extends "layouts/base.twig" %}

{% block page_content %}

    {% set showPhone = false %}

    <section class="content-slider slider-small">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="slider-content">

                        <div class="section-title">
                            <h2>Bize Ulaşın</h2>
                            <p>
                                ÇarşıFX olarak daima bize ulaşabilmenizi istiyoruz. Piyasalar hakkında öğrenmek istediklerinizi bize sorabilir, de yatırımlarınıza nasıl yön vermek istediğinizi bizimle paylaşabilirsiniz. Eğer memnuniyetsizlik yaşadığınız bir durum olur ise, bunu da bizimle paylaşmanızı rica ederiz.

                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="slider-image" style="background:url('./images/contact_banner.png') no-repeat;"></div>
    </section>

    <section class="page-contact-content">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="section-title text-center">
                        <h2>ÇarşıFX Hep Yanınızda</h2>
                        <p>
                            ÇarşıFX uzman kadrosu ile 5 gün 24 saat hep ekran başında ve hep sizin yanınızda. Gece-gündüz. Daima.
                        </p>
                    </div>

                </div>
            </div>

            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="login-form">

                        <div class="side-left">

                            <div class="section-title">
                                <h2>İletişim Formu</h2>
                                <p>İletişim bilgilerine ulaşın veta form doldurarak bize mesaj gönderebilirsiniz!</p>
                            </div>

                            <div class="contact-form form-block-container">

                                <!--
                                <div class="form-group">
                                    <label for="nameInput">İsim</label>
                                    <input type="text" class="form-control contact-input" id="nameInput" placeholder="İsminizi giriniz">
                                </div>
                                --->

                                <form method="post" action="?" id="siteForm">
                                    <div class="form-group">
                                        <label for="surnameInput">İsim & Soyisim</label>
                                        <input
                                                type="text"
                                                class="form-control contact-input js-form-control"
                                                id="surnameInput"
                                                placeholder="İsminizi ve soy isminizi giriniz"
                                                data-required="true"
                                                data-min="5"
                                        />
                                    </div>

                                    <div class="form-group">
                                        <label for="emailInput">Email</label>
                                        <input type="email"
                                               class="form-control contact-input js-form-control"
                                               id="emailInput"
                                               placeholder="Email adresinizi giriniz"
                                               data-required="true"
                                               data-validation="email"
                                        />
                                    </div>

                                    <div class="form-group">
                                        <label for="messageInput">Mesaj</label>
                                        <textarea
                                                name="message"
                                                class="form-control contact-input"
                                                placeholder="Mesajınızı yazınız"
                                                maxlength="500"
                                                id="messageInput"></textarea>
                                    </div>

                                    <hr />

                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary btn-submit">Gönder</button>
                                    </div>
                                </form>

                            </div>

                        </div>
                        <div class="side-right">

                            <div class="section-title">
                                <h2>İletişim Bilgilerimiz</h2>
                                <p>Aşağıdaki iletişim kanallarından 5 gün 24 saat bize ulaşabilir ve mesajınızı bizimle paylaşabilirsiniz.</p>
                            </div>

                            <div class="contact-details">

                                <ul class="list-unstyled">
                                    <li>
                                        <span class="label">Mail</span>
                                        <a href="mailto://support@carsifx.com">support@carsifx.com</a>
                                    </li>
                                    <li>
                                        <span class="label">Telefon</span>
                                        <a href="tell://0090212000000">+ 0 (212) 963 18 06</a>
                                    </li>
                                    <li>
                                        <span class="label">Adres</span>
                                        <a href="ajavascript:;">St. Sheikh Zayed 13/5 ,Podgorica, Montenegro  / The Capital Plaza</a>
                                    </li>
                                </ul>

                            </div>

                            <hr />

                            <div class="contact-social">
                                <a href="javascript:;">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:;">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:;">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:;">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <!-- include free membership component -->
    {% include "./layouts/components/free-membership.twig" %}
    <!-- end include free membership component -->

    <!-- include register steps component --->
    {% include "./layouts/components/register-steps.twig" %}
    <!-- end include register steps component --->

    <!-- include footer -->

    {% include "./layouts/footer.twig" %}

    <!-- include footer -->

{% endblock %}