{% extends "layouts/base.twig" %}

{% block page_content %}

    {% set showPhone = false %}

    <section class="content-slider slider-small">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="slider-content">

                        <div class="section-title">
                            <h2>Bize Ulaşın</h2>
                            <p>
                                Aşağıda yer alan iletişim kanallarımızı kullanarak veya iletişim formumuzu kullanarak bize hızlıca ulaşabilirsiniz.
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="slider-image" style="background:url('./images/contact_banner.png') no-repeat;"></div>
    </section>

    <section class="page-contact-content">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="section-title text-center">
                        <h2>Lorem ipsum dolar sit amet</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        </p>
                    </div>

                </div>
            </div>

            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="login-form">

                        <div class="side-left">

                            <div class="section-title">
                                <h2>İletişim Formu</h2>
                                <p>İletişim bilgilerine ulaşın veta form doldurarak bize mesaj gönderebilirsiniz!</p>
                            </div>

                            <div class="contact-form">

                                <div class="form-group">
                                    <label for="nameInput">İsim</label>
                                    <input type="text" class="form-control contact-input" id="nameInput" placeholder="İsminizi giriniz">
                                </div>

                                <div class="form-group">
                                    <label for="surnameInput">Soyisim</label>
                                    <input type="text" class="form-control contact-input" id="surnameInput" placeholder="Soyisminizi giriniz">
                                </div>

                                <div class="form-group">
                                    <label for="emailInput">Email</label>
                                    <input type="email" class="form-control contact-input" id="emailInput" placeholder="Email adresinizi giriniz">
                                </div>

                                <div class="form-group">
                                    <label for="messageInput">Mesaj</label>
                                    <textarea name="message" class="form-control contact-input" placeholder="Mesajınızı yazınız" id="messageInput"></textarea>
                                </div>

                                <hr />

                                <div class="form-group">
                                    <button type="button" class="btn btn-primary btn-submit">Gönder</button>
                                </div>

                            </div>

                        </div>
                        <div class="side-right">

                            <div class="section-title">
                                <h2>İletişim Bilgilerimiz</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p>
                            </div>

                            <div class="contact-details">

                                <ul class="list-unstyled">
                                    <li>
                                        <span class="label">Mail</span>
                                        <a href="mailto://info@carsifx.com">info@carsifx.com</a>
                                    </li>
                                    <li>
                                        <span class="label">Telefon</span>
                                        <a href="tell://0090212000000">+90 212 000 00 00</a>
                                    </li>
                                    <li>
                                        <span class="label">Adres</span>
                                        <a href="tell://0090212000000">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</a>
                                    </li>
                                </ul>

                            </div>

                            <hr />

                            <div class="contact-social">
                                <a href="javascript:;">
                                    <i class="fa fa-facebook" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:;">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:;">
                                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                                </a>
                                <a href="javascript:;">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <section class="page-platforms-account-block">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="account-image">
                        <img src="images/platform_account_image.png" class="img-fluid" />
                    </div>
                </div>

                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

                    <div class="section-title">
                        <h2>Ücretsiz Üye Olun</h2>
                    </div>

                    <div class="account-form">

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control input-custom" id="inputEmail4" placeholder="İsim"  />
                            </div>
                            <div class="form-group col-md-6">
                                <input type="password" class="form-control input-custom" placeholder="Soyisim" />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control input-custom" placeholder="Telefon"  />
                            </div>
                            <div class="form-group col-md-6">
                                <input type="password" class="form-control input-custom" placeholder="Eposta" />
                            </div>
                        </div>

                        <div class="form-row mt-3" >
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-submit">Kayıt Ol</button>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>

    <section class="section-register-steps">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title text-center">
                        <h2>Çarşı FX ile forex’e kolayca başlangıç yapın</h2>
                        <p style="width: 80%; margin:20px auto;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 steps-container">

                    <div class="step-card step-1">
                        <div class="step-outer step-bg-primary">
                            <div class="step-inner">
                                <span class="step-num">1</span>
                            </div>
                        </div>
                        <div class="step-title">
                            Kayıt Formunu Doldurun
                        </div>
                        <div class="description">
                            Hemen üye olun ve Kale ÇarşıFX’i $000 sanal para ile deneyin.
                        </div>
                    </div>

                    <div class="step-card step-2">
                        <div class="step-outer step-bg-info">
                            <div class="step-inner">
                                <span class="step-num">2</span>
                            </div>
                        </div>
                        <div class="step-title">
                            Onay İşlemini Tamamlayın
                        </div>
                        <div class="description">
                            Gerekli dökümanları sisteme yükleyin ve hesabınızı onaylayın.
                        </div>
                    </div>

                    <div class="step-card step-3">
                        <div class="step-outer step-bg-secondary">
                            <div class="step-inner">
                                <span class="step-num">3</span>
                            </div>
                        </div>
                        <div class="step-title">
                            Yatırıma Başla
                        </div>
                        <div class="description">
                            Kale Fx’in zengin yatırım çeşitliliğinde yatırımlarınızı yönetin.
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <!-- include footer -->

    {% include "./layouts/footer.twig" %}

    <!-- include footer -->

{% endblock %}