{% extends "layouts/base.twig" %}

{% block page_content %}

    {% set showPhone = false %}

    <section class="subpage-content">

        <div class="container">

            <div class="row">

                <div class="col-lg-12 col-md-12">

                    <div class="custom-nav">
                        <a href="privacy-agreement.html">Gizlilik Sözleşmesi</a>
                        <a class="active-primary" href="cookie-policy.html">Çerez Politikası</a>
                        <a href="terms-agreements.html">Şartlar ve Koşullar</a>
                    </div>

                    <div class="page-content">

                        <div class="section-title">
                            <h2>Çerez Politikası</h2>
                        </div>

                        <p>
                            Günümüzde neredeyse her internet sitesi çerez kullanmaktadır. Size daha iyi, hızlı ve güvenli bir deneyim sağlamak için, çoğu internet sitesi gibi ÇARŞIFX LTD’ye Çerez (Cookie)’ler kullanmaktadır.
                        </p>

                        <p>
                            <a href="https://www.carsifx.com">https://www.carsifx.com</a> sitesini ziyaret ederek ÇARŞIFX LTD’nin internet sitesinin kullanımı için gerekli olan çerezlerin cihazınıza yerleştirmesini kabul edersiniz.
                        </p>

                        <p>
                            <h5 class="text-primary">Çerez Nedir?</h5>
                            Çerezler, internet sitemizi ziyaret ettiğinizde cihazınıza eklenen bilgi içeren küçük elektronik dosyalardır. Çerezler sanal dünyada geniş çerçevede kullanılan ve web tarayıcılarının otomatik ön kabule tanımlanması sebebiyle ziyaretiniz ile ilgili cihazınızın dil, ayarlar vb. bilgilerinin hatırlanmasına yardımcı olan yazılımlardır.
                        </p>

                        <p>
                            <strong>Sitemizde kullanılan çerez türleri ve genel hatlarıyla çerez kullanma amaçlarımız;</strong> <br>
                            ÇARŞIFX LTD olarak yarattığımız çerezlere ek olarak Google, Facebook gibi üçüncü taraflardan alınan hizmetler kapsamında kullanıcı deneyiminizin iyileştirilmesi ve tercihlerinize uygun reklam faaliyetlerinde bulunulması imkân dahilindedir.
                        </p>

                        <p>
                        <h5 class="text-primary">İnternet sitemizde 4 tür çerez kullanmaktayız:</h5>
                        Çerezler, internet sitemizi ziyaret ettiğinizde cihazınıza eklenen bilgi içeren küçük elektronik dosyalardır. Çerezler sanal dünyada geniş çerçevede kullanılan ve web tarayıcılarının otomatik ön kabule tanımlanması sebebiyle ziyaretiniz ile ilgili cihazınızın dil, ayarlar vb. bilgilerinin hatırlanmasına yardımcı olan yazılımlardır.
                        </p>

                        <p>
                            <strong>1. Kalıcı Çerez</strong> <br />
                            Ziyaretçilere https://www.carsifx.com gezinme olanağı sağlayan isimsiz çerezler, özelliklerini kullanarak güvenli alanlara erişirler. Bu çerezler tarafından toplanan bilgiler pazarlama amaçlı kullanılamaz. Bu tür çerezlerin kullanımına izin verilmezse https://www.carsifx.com websitesinin çeşitli bölümlerinin kullanılamaması söz konusu olabilir.
                        </p>

                        <p>
                            <strong>2. Performans İçin Gerekli Çerezler</strong> <br />
                            ÇARŞIFX LTD web sitesinin geliştirmesine yardımcı olan isimsiz çerezlerdir. Bu tür çerezler, ziyaretçilerimizin https://www.carsifx.com websitesini nasıl kullandıkları hakkında bilgiler toplayarak, en çok ziyaret edilen sayfalar veya alınan hataların tespitinde kullanılır.
                        </p>

                        <p>
                            <strong>3. Fonksiyonellik Çerezleri</strong> <br >
                            ÇARŞIFX LTD websitesinin ziyaretçilerimizin özellikleri ile tercihlerini hatırlamasına olanak sağlayan isimsiz çerezlerdir. Bu bilgilere dayanarak
                            https://www.carsifx.com her ziyaretçimize, toplanan bilgiler doğrultusunda içerik gösterebilir. Bu tür çerezlerin kullanımına izin verilmemesi durumunda; <br>
                            <a href="https://www.carsifx.com">https://www.carsifx.com</a> websitesinin bazı bölümleri kullanılamayabilir,<br>
                            <a href="https://www.carsifx.com">https://www.carsifx.com</a> websitesinin sağlayabileceği desteğin seviyesi düşebilir, <br>
                            <a href="https://www.carsifx.com">https://www.carsifx.com</a> websitesinin tercihlerinizi hatırlamaması, size özel bir özelliğin kullanılmaması ya da gösterilmemesine neden olabilir; tercihlerinizin hatırlanması engellenebilir.
                        </p>

                        <p>
                            <strong>4. Hedef Çerezleri veya Reklam Çerezleri</strong> <br />
                            Bu tür çerezler, FXTRD LTD bilgisi doğrultusunda genellikle https://www.carsifx.com websitesinin reklam ağları tarafından yerleştirilir. Söz konusu çerezlerin kullanım amaçları aşağıdaki gibidir; <br>
                            <strong>a)</strong> İlgili ve kişiselleştirilmiş reklamları göstermek <br>
                            <strong>b)</strong> Gösterilen reklam sayısını sınırlamak <br>
                            <strong>c)</strong> Reklam kampanyasının etkinliğini ölçmek <br>
                            <strong>d)</strong> Ziyaret tercihlerinizi hatırlamak <br>
                        </p>

                        <p>
                            <strong>Politika Değişikliklerine ilişkin Uyarımız</strong> <br />
                            Bu Politika içeriğinin değişmesi veya yeni eklemeler olması durumunda, son güncel politika Kullanıcılarımıza şeffaflık sağlamak ve veriyi ne şekilde topladığımız ve ne amaçla kullandığımızı bilgilendirmek adına web sitemizde sunulacaktır.
                        </p>

                        <p>
                            <strong>İZİNSİZ KULLANIM UYARISI</strong> <br />
                            Bu politika ve içeriği, FXTRD LTD tarafından hazırlanmıştır, FXTRD LTD mülkiyetindedir. İçeriğinin tamamının veya bir kısmının kopyalanması, kullanılması, üçüncü kişiler ile paylaşılması, ifşa edilmesi ve çoğaltılması, FXTRD LTD’nin ön yazılı onayına bağlıdır.
                        </p>

                    </div>

                </div>

            </div>

        </div>

    </section>

    <!-- include free membership component -->
    {% include "./layouts/components/free-membership.twig" %}
    <!-- end include free membership component -->

    <!-- include register steps component --->
    {% include "./layouts/components/register-steps.twig" %}
    <!-- end include register steps component --->

    <!-- include footer -->
    {% include "./layouts/footer.twig" %}
    <!-- include footer -->

{% endblock %}