{% extends "layouts/base.twig" %}

{% block page_content %}

<section class="content-slider">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="slider-content">

                    <div class="section-title">
                        <h2>İnternetten yatırımlarınıza yön verin</h2>
                        <p>
                            Yüzlerce yatırım ürününde 5 gün 24 saat dilediğiniz yerde işlem yaparak yatırımlarınızı büyütebilir, Alım Satım işlemi yapabilirsiniz. Üstelik Deneme Hesabı açarak ile risksiz işlem yapabilirsiniz.
                        </p>

                        <a href="javascript:;" class="btn btn-secondary btn-start-now">Gerçek hesap aç</a>
                        <a href="javascript:;" class="btn btn-outline-secondary btn-start-now">Demo hesap aç</a>

                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="slider-image" style="background:url('./images/banner_image_1.png') no-repeat;"></div>
</section>
<section class="section-boxes">
    <div class="container">
        <div class="row">

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title text-center">
                        <h2>ÇarşıFX Ayrıcalıklarıyla İş Yapın</h2>
                        <p>
                            Forex, yatırım yapmanın şeklini de tarzını da değiştirdi; zaman ve mekan sınırı olmadan internetten güvenli, kolay ve avantajlı yatırım için lisanslı olarak hizmet veren bir yatırım kuruluşuyuz.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 icon-boxes">
                <div class="icon-box">
                    <div class="icon">
                        <img src="images/icon_5-24_acik_piyasa.svg" class="img-fluid" alt="5/24 Açık Piyasa" />
                    </div>
                    <div class="title">
                        5/24 Açık Piyasa
                    </div>
                    <div class="description">
                        Bu piyasa uyumuyor; hafta içi 5 gün 24 saat, günün her anında kaldıraçlı yatırım
                        işlemleri yapın.
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="icon-box">
                    <div class="icon">
                        <img src="images/icon_cift_yonlu_yatirim.svg" class="img-fluid" alt="İki Yönlü Yatırım" />
                    </div>
                    <div class="title">
                        İki Yönlü Yatırım
                    </div>
                    <div class="description">
                        Forex piyasasında sadece fiyatların yükselişlerinden değil, düşüş hareketlerinde de yatırım fırsatlarını değerlendirebilirsiniz.
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="icon-box">
                    <div class="icon">
                        <img src="images/icon_kaldiracli_islemler.svg" class="img-fluid" alt="Kaldıraçlı İşlemler" />
                    </div>
                    <div class="title">
                        Kaldıraçlı İşlemler
                    </div>
                    <div class="description">
                        Paranızın 10 katına kadar farklı yatırım araçlarında iki yönlü kaldıraçlı işlemler yapabilirsiniz.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-platforms">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                <div class="section-title">
                    <h2>İşlem Platformları</h2>
                    <p>
                        ÇarşıFX, Forex piyasasının kullanışlı ve hızlı; son teknoloji işlem platformlarını sizlerle buluşturuyor!
                    </p>
                    <p>
                        Yatırım sektöründe yatırımcıların en fazla tercih ettiği işlem plaltformu olan Metatrader ile ister evinizden veya işyerinizden masataüstü terminali kullanarak, isterseniz dışarda dilediğiniz yerden akıllı mobil ve tablet cihazlarınızdan işlem yapabilme özgürlüğüne sahipsiniz.

                    </p>
                </div>

                <div class="platform-buttons">
                    <a href="./platforms.html" class="btn btn-info">Detay</a>
                </div>

            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img src="images/islem_platformlari.png" class="img-fluid" />
            </div>

        </div>
    </div>
</section>

<section class="section-investment-tools">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="section-title text-center">
                    <h2>Yatırım Araçları</h2>
                    <p>
                        Forex, yatırım yapmanın şeklini de tarzını da değiştirdi; zaman ve mekan sınırı olmadan internetten güvenli, kolay ve avantajlı yatırım için lisanslı olarak hizmet veren bir yatırım kuruluşuyuz.
                    </p>
                </div>
            </div>
        </div>

        <div class="row js-card-carousel">
            <div class="col-lg-3">
                <div class="content-card">
                    <div class="header">
                        <img class="img-fluid" src="images/icon_forex.svg" />
                        <span class="card-title">Forex</span>
                    </div>
                    <div class="body">
                        Yabancı para birimlerine döviz ismi verilmektedir. İki dövizin birbirine oranına ise ‘parite’ denir. USDTRY, EURTRY veya EURUSD birer paritedirler. Dünya üzerinde en çok işlem gören döviz Amerikan Doları kısaca USD’dir. Dünya üzerinde en çok işlem gören paritelere majör pariteler denir.
                    </div>
                    <div class="footer text-center">
                        <a class="btn btn-secondary btn-block">Detay</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="content-card">
                    <div class="header">
                        <img class="img-fluid" src="images/icon_cfd.svg" />
                        <span class="card-title">CFD</span>
                    </div>
                    <div class="body">
                        CFD, Contracts for Difference kelimelerinin kısaltmasıdır ve fark kontratları olarak Türkçe’ye çevirebileceğimiz bir finansal türev üründür.CFD’yi anlatmadan önce türev ürün kavramının üzerinde durmalıyız. Spot piyasa ürünlerine endekslenerek geliştirilen finansal ürünlere türev ürün adı verilmektedir.
                    </div>
                    <div class="footer text-center">
                        <a class="btn btn-secondary btn-block">Detay</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="content-card">
                    <div class="header">
                        <img class="img-fluid" src="images/icon_emtia.svg" />
                        <span class="card-title">Emtia</span>
                    </div>
                    <div class="body">
                        Ekonomide, insan ihtiyaçlarını gideren fiziksel varlıklara mal daha doğrusu ekonomik mal denir. Bir ekonomi malının bir değeri vardır. Ancak bu değer farklı biçimlerde tanımlanabilir. Bazı malların değerini üretim maliyetleri belirlerken, bazı malların değerini sağladığı fayda belirler.
                    </div>
                    <div class="footer text-center">
                        <a class="btn btn-secondary btn-block">Detay</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="content-card">
                    <div class="header">
                        <img class="img-fluid" src="images/icon_endeksler.svg" />
                        <span class="card-title">Endeksler</span>
                    </div>
                    <div class="body">
                        CFD, Contracts for Difference kelimelerinin kısaltmasıdır. CFD, dayanak varlığın fiyat hareketlerini birebir takip eder. Böylece küresel endeks kontratlarındaki hareketleri kazanca çevirebilirsiniz.
                    </div>
                    <div class="footer text-center">
                        <a class="btn btn-secondary btn-block">Detay</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="dots"></div>

    </div>
</section>

<section class="section-why-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                <div class="why-carsi-fx-bg">
                    <img src="images/Neden_CarsiFX.png" />
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">

                <div class="section-title">
                    <h2>Neden ÇarşıFX?</h2>
                    <p>
                        ÇarşıFX, forex piyasasının kullanışlı ve hızlı; son teknoloji işlem platformlarını sizlerle buluşturan bir forex ve emtia aracı kurumudur.
                    </p>
                    <p>
                        Yılların döviz, sarrafiye ve emtia birikimini siz yatırımcılarına getiren ÇarşıFX, gerek fixiki alım satımlarınızda gerek ise ekran üzerinden yapacağınız işlemlerde yatırımcının
                        güvenilir, hızlı ve tecrübeli partneri olmak üzere yola çıkmıştır.
                    </p>
                    <p>
                        100'lerce döviz çifti ve onlarca emtia ürününde işlem yapabilme seçeneğini ÇarşıFX'de bulabilirsiniz.
                    </p>

                    <a class="btn btn-info btn-why-us">Detay</a>

                </div>

            </div>
        </div>
    </div>
</section>

<section class="section-news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title text-center">
                    <h2>Haberler</h2>
                    <p>
                        Forex, yatırım yapmanın şeklini de tarzını da değiştirdi; zaman ve mekan sınırı olmadan internetten güvenli, kolay ve avantajlı yatırım için lisanslı olarak hizmet veren bir yatırım kuruluşuyuz.
                    </p>
                </div>
            </div>
        </div>

        <div class="row news-container">
            <div class="col-lg-6 col-sm-6 col-xs-12 order-1">
                <div class="news-card news-featured">

                    <div class="details" style="margin-bottom:10px;">
                        <span class="date-category">
                            <a class="news-category" href="javascript:;">Forex Haber</a>
                            14 November 2019 </span>
                    </div>

                    <h3 class="news-title">Uzmanlar TCMB'nin Faiz Kararını Nasıl Karşıladı?</h3>
                    <p class="news-body">
                        Türkiye Cumhuriyet Merkez Bankası (TCMB) Ekim toplantısında bir hafta vadeli repo faizini sabit tutarak yüzde 10.25 seviyesinde bıraktı. TCMB, geç likidite penceresi (GLP) faizini yüzde 13.25’ten yüzde 14.75’e yükseldi. Merkez Bankası geçen ayki toplantısında politika faizini 200 bp artırmıştı.
                    </p>

                    <a href="news-detail.html" class="btn btn-secondary btn-detail">
                        Detay
                    </a>

                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12 order-12">
                <img src="images/News_image.png" class="img-fluid" />
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-lg-6 col-col-sm-6 col-xs-12">
                <div class="news-card">
                    <h3 class="news-title">Lorem ipsum sit amet</h3>
                    <div class="body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    </div>
                    <div class="details">
                        <span class="date-category">
                            <a class="news-category" href="javascript:;">Forex Haber</a>
                            14 November 2019 </span>
                        <a class="news-link" href="news-detail.html">
                            Detay
                            <i data-feather="arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-col-sm-6 col-xs-12">
                <div class="news-card">
                    <h3 class="news-title">Lorem ipsum sit amet</h3>
                    <div class="body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    </div>
                    <div class="details">
                        <span class="date-category">
                            <a class="news-category" href="javascript:;">Forex Haber</a>
                            14 November 2019 </span>
                        <a class="news-link" href="news-detail.html">
                            Detay
                            <i data-feather="arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 col-col-sm-6 col-xs-12">
                <div class="news-card">
                    <h3 class="news-title">Lorem ipsum sit amet</h3>
                    <div class="body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    </div>
                    <div class="details">
                        <span class="date-category">
                            <a class="news-category" href="javascript:;">Forex Haber</a>
                            14 November 2019 </span>
                        <a class="news-link" href="news-detail.html">
                            Detay
                            <i data-feather="arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-col-sm-6 col-xs-12">
                <div class="news-card">
                    <h3 class="news-title">Lorem ipsum sit amet</h3>
                    <div class="body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    </div>
                    <div class="details">
                        <span class="date-category">
                            <a class="news-category" href="javascript:;">Forex Haber</a>
                            14 November 2019 </span>
                        <a class="news-link" href="news-detail.html">
                            Detay
                            <i data-feather="arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- include register steps component -->
    {% include './layouts/components/register-steps.twig' %}
<!-- end include register steps component -->

<section class="section-mobile-actions">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="section-title">
                    <h2>Mobilde İşlem Yapın</h2>
                    <p>
                        ÇarşıFX müşterileri Metatrader5 Mobil platformların ayrıcalıklarını yaşayarak, her zaman, her yerde yatırımlarını doğru bir şekilde yönlendirebilir.
                    </p>
                </div>

                <div class="mobile-platform-box box-gray">
                    <a class="platform-icon">
                        <i class="fa fa-android"></i>
                    </a>
                    <a class="platform-name">
                        Android
                    </a>
                    <p class="platform-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                    <a class="btn btn-primary btn-download">Android İçin İndir</a>
                </div>

                <div class="mobile-platform-box">
                    <a class="platform-icon">
                        <i class="fa fa-apple"></i>
                    </a>
                    <a class="platform-name">
                        İOS
                    </a>
                    <p class="platform-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                    <a class="btn btn-primary btn-download">İOS İçin İndir</a>
                </div>

            </div>
        </div>
    </div>
</section>

    <!-- include footer -->

    {% include "./layouts/footer.twig" %}

    <!-- include footer -->

{% endblock %}