{% set pageTitle = 'CarsiFX - Home' %}

<!DOCTYPE html>
<html>
<head>
    {% include "./layouts/head.twig" %}
</head>
<body>

<!-- include header --->
{% include "./layouts/header.twig" %}
<!-- end header --->

<section class="content-slider">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                <div class="slider-content">

                    <div class="section-title">
                        <h2>İnternetten yatırımlarınıza yön verin</h2>
                        <p>
                            Yüzlerce yatırım ürününde 5 gün 24 saat dilediğiniz yerde işlem yaparak yatırımlarınızı büyütebilir, Alım Satım işlemi yapabilirsiniz. Üstelik Deneme Hesabı açarak ile risksiz işlem yapabilirsiniz.
                        </p>

                        <a href="javascript:;" class="btn btn-secondary btn-start-now">Hemen Başlayın</a>

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>
<section class="section-boxes">
    <div class="container">
        <div class="row">

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title text-center">
                        <h2>Çarşı FX Ayrıcalıklarıyla İş Yapın</h2>
                        <p>
                            Forex, yatırım yapmanın şeklini de tarzını da değiştirdi; zaman ve mekan sınırı olmadan internetten güvenli, kolay ve avantajlı yatırım için lisanslı olarak hizmet veren bir yatırım kuruluşuyuz.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 icon-boxes">
                <div class="icon-box">
                    <div class="icon">
                        <img src="images/5-24_acik_piyasa.png" class="img-fluid" alt="5/24 Açık Piyasa" />
                    </div>
                    <div class="title">
                        5/24 Açık Piyasa
                    </div>
                    <div class="description">
                        Bu piyasa uyumuyor; hafta içi 5 gün 24 saat, günün her anında kaldıraçlı yatırım
                        işlemleri yapın.
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="icon-box">
                    <div class="icon">
                        <img src="images/iki_yonlu_yatirim.png" class="img-fluid" alt="İki Yönlü Yatırım" />
                    </div>
                    <div class="title">
                        İki Yönlü Yatırım
                    </div>
                    <div class="description">
                        Forex piyasasında sadece fiyatların yükselişlerinden değil, düşüş hareketlerinde de yatırım fırsatlarını değerlendirebilirsiniz.
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="icon-box">
                    <div class="icon">
                        <img src="images/icon_kaldiracli_islemler.png" class="img-fluid" alt="Kaldıraçlı İşlemler" />
                    </div>
                    <div class="title">
                        Kaldıraçlı İşlemler
                    </div>
                    <div class="description">
                        Paranızın 10 katına kadar farklı yatırım araçlarında iki yönlü kaldıraçlı işlemler yapabilirsiniz.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-platforms">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                <div class="section-title">
                    <h2>İşlem Platformları</h2>
                    <p>
                        ÇarşıFX, Forex piyasasının kullanışlı ve hızlı; son teknoloji işlem platformlarını sizlerle buluşturuyor!
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. tempor  incididunt ut labore et dolore magna
                    </p>
                </div>

                <div class="platform-buttons">
                    <a href="javascript:;" class="btn btn-info">MetaTrader 4</a>
                    <a href="javascript:;" class="btn btn-outline-info">MetaTrader 5</a>
                </div>

            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img src="images/islem_platformlari.png" class="img-fluid" />
            </div>

        </div>
    </div>
</section>

<section class="section-investment-tools">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="section-title text-center">
                    <h2>Yatırım Araçları</h2>
                    <p>
                        Forex, yatırım yapmanın şeklini de tarzını da değiştirdi; zaman ve mekan sınırı olmadan internetten güvenli, kolay ve avantajlı yatırım için lisanslı olarak hizmet veren bir yatırım kuruluşuyuz.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <div class="content-card">
                    <div class="header">
                        <img class="img-fluid" src="images/icon_forex.png" />
                        <span class="card-title">Forex</span>
                    </div>
                    <div class="body">
                        Yabancı para birimlerine döviz ismi verilmektedir. İki dövizin birbirine oranına ise ‘parite’ denir. USDTRY, EURTRY veya EURUSD birer paritedirler. Dünya üzerinde en çok işlem gören döviz Amerikan Doları kısaca USD’dir. Dünya üzerinde en çok işlem gören paritelere majör pariteler denir.

                        EURUSD, GBPUSD, USDJPY ve USDCHF majör paritelere örnek olarak verilebilir. Döviz çiftlerinde ilk döviz ‘baz döviz’, ikinci döviz ise ‘kota döviz’ olarak adlandırılır ve genellikle baz para birimi daha değerlidir. Örneğin USDTRY paritesinde baz döviz USD’dir veya EURUSD paritesinde baz döviz EUR’dur
                    </div>
                    <div class="footer text-center">
                        <a class="btn btn-secondary btn-block">Detay</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="content-card">
                    <div class="header">
                        <img class="img-fluid" src="images/icon_cfd.png" />
                        <span class="card-title">CFD</span>
                    </div>
                    <div class="body">
                        Yabancı para birimlerine döviz ismi verilmektedir. İki dövizin birbirine oranına ise ‘parite’ denir. USDTRY, EURTRY veya EURUSD birer paritedirler. Dünya üzerinde en çok işlem gören döviz Amerikan Doları kısaca USD’dir. Dünya üzerinde en çok işlem gören paritelere majör pariteler denir.

                        EURUSD, GBPUSD, USDJPY ve USDCHF majör paritelere örnek olarak verilebilir. Döviz çiftlerinde ilk döviz ‘baz döviz’, ikinci döviz ise ‘kota döviz’ olarak adlandırılır ve genellikle baz para birimi daha değerlidir. Örneğin USDTRY paritesinde baz döviz USD’dir veya EURUSD paritesinde baz döviz EUR’dur
                    </div>
                    <div class="footer text-center">
                        <a class="btn btn-secondary btn-block">Detay</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="content-card">
                    <div class="header">
                        <img class="img-fluid" src="images/icon_emtia.png" />
                        <span class="card-title">Emtia</span>
                    </div>
                    <div class="body">
                        Yabancı para birimlerine döviz ismi verilmektedir. İki dövizin birbirine oranına ise ‘parite’ denir. USDTRY, EURTRY veya EURUSD birer paritedirler. Dünya üzerinde en çok işlem gören döviz Amerikan Doları kısaca USD’dir. Dünya üzerinde en çok işlem gören paritelere majör pariteler denir.

                        EURUSD, GBPUSD, USDJPY ve USDCHF majör paritelere örnek olarak verilebilir. Döviz çiftlerinde ilk döviz ‘baz döviz’, ikinci döviz ise ‘kota döviz’ olarak adlandırılır ve genellikle baz para birimi daha değerlidir. Örneğin USDTRY paritesinde baz döviz USD’dir veya EURUSD paritesinde baz döviz EUR’dur
                    </div>
                    <div class="footer text-center">
                        <a class="btn btn-secondary btn-block">Detay</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="content-card">
                    <div class="header">
                        <img class="img-fluid" src="images/icon_endeksler.png" />
                        <span class="card-title">Endeksler</span>
                    </div>
                    <div class="body">
                        Yabancı para birimlerine döviz ismi verilmektedir. İki dövizin birbirine oranına ise ‘parite’ denir. USDTRY, EURTRY veya EURUSD birer paritedirler. Dünya üzerinde en çok işlem gören döviz Amerikan Doları kısaca USD’dir. Dünya üzerinde en çok işlem gören paritelere majör pariteler denir.

                        EURUSD, GBPUSD, USDJPY ve USDCHF majör paritelere örnek olarak verilebilir. Döviz çiftlerinde ilk döviz ‘baz döviz’, ikinci döviz ise ‘kota döviz’ olarak adlandırılır ve genellikle baz para birimi daha değerlidir. Örneğin USDTRY paritesinde baz döviz USD’dir veya EURUSD paritesinde baz döviz EUR’dur
                    </div>
                    <div class="footer text-center">
                        <a class="btn btn-secondary btn-block">Detay</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="section-why-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                <div class="why-carsi-fx-bg">
                    <img src="images/Neden_CarsiFX_image.png" />
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">

                <div class="section-title">
                    <h2>Neden ÇarşıFX?</h2>
                    <p>
                        ÇarşıFX, Forex piyasasının kullanışlı ve hızlı; son teknoloji işlem platformlarını sizlerle buluşturan bir aracı kurumdur.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. tempor  incididunt ut labore et dolore magna
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="section-news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title text-center">
                    <h2>Forex Haber</h2>
                    <p>
                        Forex, yatırım yapmanın şeklini de tarzını da değiştirdi; zaman ve mekan sınırı olmadan internetten güvenli, kolay ve avantajlı yatırım için lisanslı olarak hizmet veren bir yatırım kuruluşuyuz.
                    </p>
                </div>
            </div>
        </div>

        <div class="row news-container">
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <div class="news-card news-featured">
                    <h3 class="news-title">Uzmanlar TCMB'nin Faiz Kararını Nasıl Karşıladı?</h3>
                    <p class="news-body">
                        Türkiye Cumhuriyet Merkez Bankası (TCMB) Ekim toplantısında bir hafta vadeli repo faizini sabit tutarak yüzde 10.25 seviyesinde bıraktı. TCMB, geç likidite penceresi (GLP) faizini yüzde 13.25’ten yüzde 14.75’e yükseldi. Merkez Bankası geçen ayki toplantısında politika faizini 200 bp artırmıştı.
                    </p>

                    <a href="javascript:;" class="btn btn-secondary btn-detail">
                        Detay
                    </a>

                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-xs-12">
                <img src="images/News_image.png" />
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col">
                <div class="news-card">
                    <h3 class="news-title">Lorem ipsum sit amet</h3>
                    <div class="body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    </div>
                    <div class="details">
                        <span class="publish-date">14 November 2019 </span>
                        <a class="news-link">
                            Detay
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="news-card">
                    <h3 class="news-title">Lorem ipsum sit amet</h3>
                    <div class="body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    </div>
                    <div class="details">
                        <span class="publish-date">14 November 2019 </span>
                        <a class="news-link">
                            Detay
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="news-card">
                    <h3 class="news-title">Lorem ipsum sit amet</h3>
                    <div class="body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    </div>
                    <div class="details">
                        <span class="publish-date">14 November 2019 </span>
                        <a class="news-link">
                            Detay
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="news-card">
                    <h3 class="news-title">Lorem ipsum sit amet</h3>
                    <div class="body">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    </div>
                    <div class="details">
                        <span class="publish-date">14 November 2019 </span>
                        <a class="news-link">
                            Detay
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<section class="section-register-steps">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="section-title text-center">
                    <h2>Çarşı FX ile forex’e kolayca başlangıç yapın</h2>
                    <p style="width: 80%; margin:20px auto;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 steps-container">

                <div class="step-card step-1">
                    <div class="step-outer step-bg-primary">
                        <div class="step-inner">
                            <span class="step-num">1</span>
                        </div>
                    </div>
                    <div class="step-title">
                        Kayıt Formunu Doldurun
                    </div>
                    <div class="description">
                        Hemen üye olun ve Kale ÇarşıFX’i $000 sanal para ile deneyin.
                    </div>
                </div>

                <div class="step-card step-2">
                    <div class="step-outer step-bg-info">
                        <div class="step-inner">
                            <span class="step-num">2</span>
                        </div>
                    </div>
                    <div class="step-title">
                        Onay İşlemini Tamamlayın
                    </div>
                    <div class="description">
                        Gerekli dökümanları sisteme yükleyin ve hesabınızı onaylayın.
                    </div>
                </div>

                <div class="step-card step-3">
                    <div class="step-outer step-bg-secondary">
                        <div class="step-inner">
                            <span class="step-num">3</span>
                        </div>
                    </div>
                    <div class="step-title">
                        Yatırıma Başla
                    </div>
                    <div class="description">
                        Kale Fx’in zengin yatırım çeşitliliğinde yatırımlarınızı yönetin.
                    </div>
                </div>

            </div>
        </div>

    </div>
</section>

<section class="section-mobile-actions">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="section-title">
                    <h2>Mobilde İşlem Yapın</h2>
                    <p>
                        Çarşı FX müşterileri MetaTrader 4 ve MetaTrader 5 işlem platformunu ve mobil uygulamalarını PDA, iOS ve Android için indirebilirler.
                    </p>
                </div>

                <div class="mobile-platform-box box-gray">
                    <a class="platform-icon">
                        PLATFORM ICON
                    </a>
                    <a class="platform-name">
                        Android
                    </a>
                    <p class="platform-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    <a class="btn btn-primary btn-download">Android İçin İndir</a>
                </div>

                <div class="mobile-platform-box">
                    <a class="platform-icon">
                        PLATFORM ICON
                    </a>
                    <a class="platform-name">
                        İOS
                    </a>
                    <p class="platform-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    <a class="btn btn-primary btn-download">İOS İçin İndir</a>
                </div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <img src="images/carsifx_mobile_xx.png" class="img-fluid carsifx-mobile-img" />
            </div>
        </div>
    </div>
</section>

<!-- include footer -->

{% include "layouts/footer.twig" %}

<!-- include footer -->

</body>
</html>