{% extends "./layouts/base.twig" %}

{% block page_content %}

    {% set showPhone = false %}

    <section class="content-slider slider-small">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="slider-content">

                        <div class="section-title">
                            <h2>Haberler</h2>
                            <p>
                                Haber sayfasında en son Forex haberleri, Ekonomik haberler, Ekonomik göstergeler gibi gelişmeleri geçmişten bugüne haber başlıkları yer almaktadır.
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="slider-image" style="background:url('./images/analysis_banner.png') no-repeat;"></div>
    </section>


    <section class="section-news news-detail-section">

        <div class="container">

            <div class="row">
                <div class="col-lg-8">
                    <div class="news-card news-featured">

                        <div class="news-image">
                            <img src="images/News_image.png" />
                        </div>

                        <div class="details" style="margin-bottom:10px;">
                        <span class="date-category">
                            <a class="news-category" href="javascript:;">Forex Haber</a>
                            14 November 2019 </span>
                        </div>

                        <h3 class="news-title">Uzmanlar TCMB'nin Faiz Kararını Nasıl Karşıladı?</h3>
                        <p class="news-body">
                            Türkiye Cumhuriyet Merkez Bankası (TCMB) Ekim toplantısında bir hafta vadeli repo faizini sabit tutarak yüzde 10.25 seviyesinde bıraktı. TCMB, geç likidite penceresi (GLP) faizini yüzde 13.25’ten yüzde 14.75’e yükseldi. Merkez Bankası geçen ayki toplantısında politika faizini 200 bp artırmıştı.
                        </p>

                        <p>
                            TCMB’nin faiz oranlarına ilişkin basın duyurusunda iktisadi faaliyetteki toparlanmanın devam ettiği belirtilirken, ticari ve bireysel kredilerdeki normalleşme eğiliminin belirginleştiği ifade edildi.

                        </p>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="news-container-scroll">
                        <div class="news-card">
                            <h3 class="news-title">Lorem ipsum sit amet</h3>
                            <div class="body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            </div>
                            <div class="details">
                        <span class="date-category">
                            <a class="news-category" href="javascript:;">Forex Haber</a>
                            14 November 2019 </span>
                                <a class="news-link" href="news-detail.html">
                                    Detay
                                    <i data-feather="arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="news-card">
                            <h3 class="news-title">Lorem ipsum sit amet</h3>
                            <div class="body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            </div>
                            <div class="details">
                        <span class="date-category">
                            <a class="news-category" href="javascript:;">Forex Haber</a>
                            14 November 2019 </span>
                                <a class="news-link" href="news-detail.html">
                                    Detay
                                    <i data-feather="arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="news-card">
                            <h3 class="news-title">Lorem ipsum sit amet</h3>
                            <div class="body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            </div>
                            <div class="details">
                        <span class="date-category">
                            <a class="news-category" href="javascript:;">Forex Haber</a>
                            14 November 2019 </span>
                                <a class="news-link" href="news-detail.html">
                                    Detay
                                    <i data-feather="arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="news-card">
                            <h3 class="news-title">Lorem ipsum sit amet</h3>
                            <div class="body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            </div>
                            <div class="details">
                        <span class="date-category">
                            <a class="news-category" href="javascript:;">Forex Haber</a>
                            14 November 2019 </span>
                                <a class="news-link" href="news-detail.html">
                                    Detay
                                    <i data-feather="arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="news-card">
                            <h3 class="news-title">Lorem ipsum sit amet</h3>
                            <div class="body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            </div>
                            <div class="details">
                        <span class="date-category">
                            <a class="news-category" href="javascript:;">Forex Haber</a>
                            14 November 2019 </span>
                                <a class="news-link" href="news-detail.html">
                                    Detay
                                    <i data-feather="arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="news-card">
                            <h3 class="news-title">Lorem ipsum sit amet</h3>
                            <div class="body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            </div>
                            <div class="details">
                        <span class="date-category">
                            <a class="news-category" href="javascript:;">Forex Haber</a>
                            14 November 2019 </span>
                                <a class="news-link" href="news-detail.html">
                                    Detay
                                    <i data-feather="arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="news-card">
                            <h3 class="news-title">Lorem ipsum sit amet</h3>
                            <div class="body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            </div>
                            <div class="details">
                        <span class="date-category">
                            <a class="news-category" href="javascript:;">Forex Haber</a>
                            14 November 2019 </span>
                                <a class="news-link" href="news-detail.html">
                                    Detay
                                    <i data-feather="arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="news-card">
                            <h3 class="news-title">Lorem ipsum sit amet</h3>
                            <div class="body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                            </div>
                            <div class="details">
                        <span class="date-category">
                            <a class="news-category" href="javascript:;">Forex Haber</a>
                            14 November 2019 </span>
                                <a class="news-link" href="news-detail.html">
                                    Detay
                                    <i data-feather="arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <!-- include free membership component -->
    {% include "./layouts/components/free-membership.twig" %}
    <!-- end include free membership component -->

    <!-- include register steps component --->
    {% include "./layouts/components/register-steps.twig" %}
    <!-- end include register steps component --->


    <!-- include footer -->
    {% include "./layouts/footer.twig" %}
    <!-- include footer -->

{% endblock %}