{% extends "layouts/base.twig" %}

{% block page_content %}

    {% set showPhone = false %}
    {% set pageTitle = 'Heloooooooo' %}

    <section class="content-slider">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="slider-content">

                        <div class="section-title">
                            <h2>Platformlar</h2>
                            <p>
                                En hızlı şekilde işlemlerinizi yapabileceğiniz platformlara erişin !
                            </p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="slider-image" style="background:url('./images/banner_image_1.png') no-repeat;"></div>
    </section>

    <section class="page-platforms-block">
        <div class="container">
            <div class="row platform-block">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="platform-content-image">
                        PLATFORM IMAGE
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="platform-content">
                        <div class="section-title">
                            <h2>MetaTrader4</h2>
                            <p>
                                MetaTrader 4, hisse senedi endekslerinde alım satım para birimleri, hisse senetleri, değerli metaller ve CFD ler sağlayan popüler bir Forex ticaret ve analiz platformudur.
                            </p>

                            <p>
                                Bu bölümde, KaleFx müşterileri MetaTrader 4 işlem platformunu ve mobil uygulamalarını PDA, iPhone®, iPad ™ ve Android için indirebilirler.
                            </p>

                            <div class="buttons">
                                <a href="javascript:;" class="btn btn-info">Web Tradere git</a>
                                <a href="javascript:;" class="btn btn-outline-info">Windows için indir</a>
                                <a href="javascript:;" class="btn btn-info">Android için indir</a>
                                <a href="javascript:;" class="btn btn-outline-info">iOS için indir</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row platform-block">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="platform-content">
                        <div class="section-title">
                            <h2>MetaTrader4</h2>
                            <p>
                                MetaTrader 4, hisse senedi endekslerinde alım satım para birimleri, hisse senetleri, değerli metaller ve CFD ler sağlayan popüler bir Forex ticaret ve analiz platformudur.
                            </p>

                            <p>
                                Bu bölümde, KaleFx müşterileri MetaTrader 4 işlem platformunu ve mobil uygulamalarını PDA, iPhone®, iPad ™ ve Android için indirebilirler.
                            </p>

                            <div class="buttons">
                                <a href="javascript:;" class="btn btn-info">Web Tradere git</a>
                                <a href="javascript:;" class="btn btn-outline-info">Windows için indir</a>
                                <a href="javascript:;" class="btn btn-info">Android için indir</a>
                                <a href="javascript:;" class="btn btn-outline-info">iOS için indir</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="platform-content-image">
                        PLATFORM IMAGE
                    </div>

                </div>
            </div>

        </div>

    </section>

    <section class="page-platform-features">

        <div class="container">

            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="section-title text-center">
                        <h2>Platform Özellikleri</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud                        </p>
                    </div>

                </div>

            </div>

            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-box">
                        <div class="icon">
                            <img src="images/icon_5-24_acik_piyasa.svg" class="img-fluid" alt="5/24 Açık Piyasa" />
                        </div>
                        <div class="title">
                            Tüm platformlarda tek şifre
                        </div>
                        <div class="description">
                            Bu piyasa uyumuyor; hafta içi 5 gün 24 saat, günün her anında kaldıraçlı yatırım
                            işlemleri yapın.
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-box">
                        <div class="icon">
                            <img src="images/icon_5-24_acik_piyasa.svg" class="img-fluid" alt="5/24 Açık Piyasa" />
                        </div>
                        <div class="title">
                            Tüm platformlarda tek şifre
                        </div>
                        <div class="description">
                            Bu piyasa uyumuyor; hafta içi 5 gün 24 saat, günün her anında kaldıraçlı yatırım
                            işlemleri yapın.
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-box">
                        <div class="icon">
                            <img src="images/icon_5-24_acik_piyasa.svg" class="img-fluid" alt="5/24 Açık Piyasa" />
                        </div>
                        <div class="title">
                            Tüm platformlarda tek şifre
                        </div>
                        <div class="description">
                            Bu piyasa uyumuyor; hafta içi 5 gün 24 saat, günün her anında kaldıraçlı yatırım
                            işlemleri yapın.
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-box">
                        <div class="icon">
                            <img src="images/icon_5-24_acik_piyasa.svg" class="img-fluid" alt="5/24 Açık Piyasa" />
                        </div>
                        <div class="title">
                            Tüm platformlarda tek şifre
                        </div>
                        <div class="description">
                            Bu piyasa uyumuyor; hafta içi 5 gün 24 saat, günün her anında kaldıraçlı yatırım
                            işlemleri yapın.
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-box">
                        <div class="icon">
                            <img src="images/icon_5-24_acik_piyasa.svg" class="img-fluid" alt="5/24 Açık Piyasa" />
                        </div>
                        <div class="title">
                            Tüm platformlarda tek şifre
                        </div>
                        <div class="description">
                            Bu piyasa uyumuyor; hafta içi 5 gün 24 saat, günün her anında kaldıraçlı yatırım
                            işlemleri yapın.
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-box">
                        <div class="icon">
                            <img src="images/icon_5-24_acik_piyasa.svg" class="img-fluid" alt="5/24 Açık Piyasa" />
                        </div>
                        <div class="title">
                            Tüm platformlarda tek şifre
                        </div>
                        <div class="description">
                            Bu piyasa uyumuyor; hafta içi 5 gün 24 saat, günün her anında kaldıraçlı yatırım
                            işlemleri yapın.
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <section class="page-platforms-account-block">
        <div class="container">
            <div class="row">

                <div class=""></div>

            </div>
        </div>
    </section>

    <section class="section-register-steps">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title text-center">
                        <h2>Çarşı FX ile forex’e kolayca başlangıç yapın</h2>
                        <p style="width: 80%; margin:20px auto;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 steps-container">

                    <div class="step-card step-1">
                        <div class="step-outer step-bg-primary">
                            <div class="step-inner">
                                <span class="step-num">1</span>
                            </div>
                        </div>
                        <div class="step-title">
                            Kayıt Formunu Doldurun
                        </div>
                        <div class="description">
                            Hemen üye olun ve Kale ÇarşıFX’i $000 sanal para ile deneyin.
                        </div>
                    </div>

                    <div class="step-card step-2">
                        <div class="step-outer step-bg-info">
                            <div class="step-inner">
                                <span class="step-num">2</span>
                            </div>
                        </div>
                        <div class="step-title">
                            Onay İşlemini Tamamlayın
                        </div>
                        <div class="description">
                            Gerekli dökümanları sisteme yükleyin ve hesabınızı onaylayın.
                        </div>
                    </div>

                    <div class="step-card step-3">
                        <div class="step-outer step-bg-secondary">
                            <div class="step-inner">
                                <span class="step-num">3</span>
                            </div>
                        </div>
                        <div class="step-title">
                            Yatırıma Başla
                        </div>
                        <div class="description">
                            Kale Fx’in zengin yatırım çeşitliliğinde yatırımlarınızı yönetin.
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <!-- include footer -->

    {% include "./layouts/footer.twig" %}

    <!-- include footer -->

{% endblock %}



