{% extends "layouts/base.twig" %}

{% block page_content %}

    {% set showPhone = false %}

    <section class="content-slider slider-small">
        <div class="slider-image" style="background:url('./images/register_banner.png') no-repeat;"></div>
    </section>

    <section class="page-login-register">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="login-register-block">

                        <div class="entry-block align-self-center">

                            <div class="section-title">
                                <h2>Kayıt Ol</h2>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                                </p>
                            </div>

                        </div>
                        <div class="form-block form-block-secondary">

                            <div class="form-container">

                                <div class="section-title">
                                    <h2>Bir Hesap Oluşturun</h2>
                                </div>

                                <div class="form-group">
                                    <label for="nameInput">İsim</label>
                                    <input type="text" class="form-control form-input" id="nameInput" placeholder="İsminizi giriniz">
                                </div>

                                <div class="form-group">
                                    <label for="nameInput">Soyisim</label>
                                    <input type="password" class="form-control form-input" id="nameInput" placeholder="Soyisimnizi girin">
                                </div>

                                <div class="form-group">
                                    <label for="nameInput">Email</label>
                                    <input type="text" class="form-control form-input" id="nameInput" placeholder="Email adresinizi girin">
                                </div>

                                <div class="form-group">
                                    <label for="nameInput">Telefon</label>
                                    <input type="password" class="form-control form-input" id="nameInput" placeholder="Telefon numaranızı girin">
                                </div>

                                <div class="form-group">
                                    <label for="nameInput">Şifre</label>
                                    <input type="password" class="form-control form-input" id="nameInput" placeholder="İsminizi girin">
                                </div>

                                <div class="form-group">
                                    <label for="nameInput">Şifre tekrarı</label>
                                    <input type="password" class="form-control form-input" id="nameInput" placeholder="Şifrenizi tekrar girin">
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-6 checkbox-line">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label" for="customCheck1">Ben robot değilim</label>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 text-right">
                                        <button type="submit" class="btn btn-submit">Kayıt Ol</button>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </section>

    <section class="section-register-steps">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="section-title text-center">
                        <h2>Çarşı FX ile forex’e kolayca başlangıç yapın</h2>
                        <p style="width: 80%; margin:20px auto;">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 steps-container">

                    <div class="step-card step-1">
                        <div class="step-outer step-bg-primary">
                            <div class="step-inner">
                                <span class="step-num">1</span>
                            </div>
                        </div>
                        <div class="step-title">
                            Kayıt Formunu Doldurun
                        </div>
                        <div class="description">
                            Hemen üye olun ve Kale ÇarşıFX’i $000 sanal para ile deneyin.
                        </div>
                    </div>

                    <div class="step-card step-2">
                        <div class="step-outer step-bg-info">
                            <div class="step-inner">
                                <span class="step-num">2</span>
                            </div>
                        </div>
                        <div class="step-title">
                            Onay İşlemini Tamamlayın
                        </div>
                        <div class="description">
                            Gerekli dökümanları sisteme yükleyin ve hesabınızı onaylayın.
                        </div>
                    </div>

                    <div class="step-card step-3">
                        <div class="step-outer step-bg-secondary">
                            <div class="step-inner">
                                <span class="step-num">3</span>
                            </div>
                        </div>
                        <div class="step-title">
                            Yatırıma Başla
                        </div>
                        <div class="description">
                            Kale Fx’in zengin yatırım çeşitliliğinde yatırımlarınızı yönetin.
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <!-- include footer -->

    {% include "./layouts/footer.twig" %}

    <!-- include footer -->

{% endblock %}