{% set pageTitle = 'CarsiFX - Home' %}
{% set showPhone = true %}

<!DOCTYPE html>
<html>
<head>
    {% include "./head.twig" %}
</head>
<body>

<!-- include header --->
{% include "./header.twig" %}
<!-- end header --->

{% block page_content %} {% endblock %}


<!-- footer scripts -->
    {% include "./footer_scripts.twig" %}
<!-- end footer scripts -->

</body>
</html>