<footer>

    <div class="bar">
        {% if showPhone == true  %}
        <div class="container">
            <img src="images/Phone.png" class="img-fluid carsifx-mobile-img" />
        </div>
        {% endif %}
    </div>

    <div class="main-footer">
        <div class="container">
             <div class="row">
                 <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                     <div class="footer-blocks">

                         <div class="footer-block img-block align-self-center">
                             <a href="javascript:;">
                                 <img src="images/carsi_footer_logo.svg" class="img-fluid" alt="Çarşı FX Logo"/>
                             </a>
                         </div>

                         <div class="footer-block link-block">
                             <h4 class="block-title">Hakkımızda</h4>
                             <span class="separator"></span>

                             <ul class="links list-unstyled">
                                 <li>
                                     <a href="#">Hakkımızda</a>
                                 </li>
                             </ul>
                         </div>

                         <div class="footer-block link-block">
                             <h4 class="block-title">Platformlar</h4>
                             <span class="separator"></span>

                             <ul class="links list-unstyled">
                                 <li>
                                     <a href="#">MetaTrader 4</a>
                                 </li>
                                 <li>
                                     <a href="#">MetaTrader 5</a>
                                 </li>
                             </ul>
                         </div>

                         <div class="footer-block link-block">
                             <h4 class="block-title">Piyasalar</h4>
                             <span class="separator"></span>

                             <ul class="links list-unstyled">
                                 <li><a href="#">Para Birimleri</a></li>
                                 <li><a href="#">Metaller</a></li>
                                 <li><a href="#">Borsa Endeksleri</a></li>
                                 <li><a href="#">Kıymetli Madenler</a></li>
                                 <li><a href="#">Kripto Paralar</a></li>
                             </ul>
                         </div>

                         <div class="footer-block link-block">
                             <h4 class="block-title">Hesap İşlemleri</h4>
                             <span class="separator"></span>

                             <ul class="links list-unstyled">
                                 <li><a href="#">Demo Hesap Açın!</a></li>
                                 <li><a href="#">Gerçek Hesap Açın!</a></li>
                                 <li><a href="#">Hesabınızı Taşıyın</a></li>
                                 <li><a href="#">Hesap Türleri</a></li>
                             </ul>
                         </div>

                         <div class="footer-block link-block">
                             <h4 class="block-title">Tablolar</h4>
                             <span class="separator"></span>

                             <ul class="links list-unstyled">
                                 <li><a href="#">Fiyat Akışı</a></li>
                                 <li><a href="#">Ürün Özellikleri</a></li>
                                 <li><a href="#">İşlem Saatleri</a></li>
                             </ul>
                         </div>

                     </div>
                 </div>
             </div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 risk-warning-box">

                    <span class="risk-warning">Risk Uyarısı:</span>

                    <p>
                        All financial products traded on margin carry a high degree of risk to your capital. They are not suited to all investors and you can lose more than your initial deposit. Please ensure that you fully understand the risks involved and seek independent advice if necessary. For further information, please see our full Risk Warning, Terms of Business and Privacy Policy.
                    </p>

                    <p>
                        We use cookies to support features like login and allow trusted media partners to analyse aggregated site usage. Keep cookies enabled to enjoy the full site experience. By browsing our site with cookies enabled, you are agreeing to their use. Review our cookies information for more details
                    </p>

                </div>

            </div>
        </div>

    </div>


    <div class="footer-bottom">
        <div class="container">

            <div class="row">
                <div class="col-lg-9 col-xs-12">

                    <ul class="list-unstyled list-inline contact-info">
                        <li>
                            <span class="icon-separator">
                                <i class="fa fa-map-marker contact-icon" aria-hidden="true"></i>
                            </span>
                            <span class="text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit</span>
                        </li>

                        <li>
                            <span class="icon-separator">
                                <i class="fa fa-phone contact-icon" aria-hidden="true"></i>
                            </span>
                            +00 (0) 00 00 00000
                        </li>

                        <li>
                            <span class="icon-separator">
                                <i class="fa fa-envelope-o contact-icon" aria-hidden="true"></i>
                            </span>
                            support@Lorem.com
                        </li>

                    </ul>

                </div>
                <div class="col-lg-3 text-right col-xs-12">

                    <div class="social-links">
                        <a href="javascript:;">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="javascript:;">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="javascript:;">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="javascript:;">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </div>


</footer>

<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
<script>
    feather.replace();
</script>