<header id="siteHeader">

    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-2 col-xs-6">
                <div class="logo">
                    <a href="index.html">
                        <img src="images/carsi_logo.png"
                             class="img-fluid"  alt="ÇarşıFX Logo"/>
                    </a>
                </div>
            </div>

            <div class="col-6 col-xs-6">
                <div class="main-menu">
                    <nav role="navigation">
                        <ul class="list-unstyled list-inline">
                            <li><a class="active" href="account-actions.html">Hesap İşlemleri</a></li>
                            <li><a href="invest-tools.html">Yatırım Araçları</a></li>
                            <li><a href="platforms.html">Platform</a></li>
                            <li class="dropdown">
                                <a href="analysis.html" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Analiz</a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a href="analysis-detail.html">USD/JPY</a>
                                    <a href="analysis-detail.html">GBP/USD</a>
                                    <a href="analysis-detail.html">EUR/USD</a>
                                    <a href="analysis-detail.html">NZD/USD</a>
                                    <a href="analysis-detail.html">USD/CHF</a>
                                </div>
                            </li>
                            <li><a href="about-us.html">Şirket</a></li>
                            <li>
                                <a href="analysis-detail.html">Ekonomik Takvim</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="col-4 text-right">
                <div class="login-register-menu">
                    <a class="btn btn-outline-primary js-toggle-login-popup">Giriş Yap</a>
                    <a class="btn btn-primary" href="open-demo-account.html">Hesap Aç</a>

                    <div class="login-popup-container js-popup-container">

                        <div class="popup-login-form">
                            <div class="title">
                                Giriş Yap
                            </div>

                            <div class="login-popup-form">
                                <div class="form-group">
                                    <input type="text" class="form-control contact-input" id="nameInput" placeholder="Hesap Numarası">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control contact-input" id="nameInputx" placeholder="Şifre">
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6 text-right">
                                        <a class="forgot-pw-link js-forgot-pw">Şifremi Unuttum</a>
                                    </div>
                                    <div class="form-group col-md-6 checkbox-line remember-me">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label" for="customCheck1">Beni Hatırla</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>




            </div>

        </div>
    </div>

</header>

<div class="mobile-header">

    <div class="menu-toggle js-menu-toggle">
        <a href="javascript:;">
            <i data-feather="menu"></i>
        </a>
    </div>

    <div class="logo">
        <a href="index.html">
            <img src="images/carsi_logo.png"
                 class="img-fluid"  alt="ÇarşıFX Logo"/>
        </a>
    </div>

    <div class="home">
        <a href="index.html">
            <i data-feather="home"></i>
        </a>
    </div>

</div>

<div class="mobile-menu js-mobile-menu">
    <div class="menu-close">
        <a href="javascript:;" class="js-menu-close">
            <i class="fa fa-close"></i>
        </a>
    </div>
    <nav>
        <ul class="list-unstyled">
            <li><a href="account-actions.html">Hesap İşlemleri</a></li>
            <li><a href="platforms.html">Platform</a></li>
            <li class="dropdown">
                <a href="javascript:;" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Analiz</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a href="analysis-detail.html">USD/JPY</a>
                    <a href="analysis-detail.html">GBP/USD</a>
                    <a href="analysis-detail.html">EUR/USD</a>
                    <a href="analysis-detail.html">NZD/USD</a>
                    <a href="analysis-detail.html">USD/CHF</a>
                </div>
            </li>
            <li><a href="about-us.html">Şirket</a></li>
            <li><a href="announcements.html">Duyurular</a></li>
            <li><a href="contact.html">Destek</a></li>
            <li><a class="btn btn-outline-primary">Giriş Yap</a></li>
            <li><a class="btn btn-primary">Kayıt Ol</a></li>
        </ul>
    </nav>
</div>
