<header id="siteHeader">

    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-2 col-xs-6">
                <div class="logo">
                    <a href="index.html">
                        <img src="images/carsi_logo.png"
                             class="img-fluid"  alt="Çarşı FX Logo"/>
                    </a>
                </div>
            </div>

            <div class="col-6 col-xs-6">
                <div class="main-menu">
                    <nav role="navigation">
                        <a href="javascript:;">Özellikler</a>
                        <a href="platforms.html">Platform</a>
                        <a href="javascript:;">Analiz</a>
                        <a href="javascript:;">Şirket</a>
                        <a href="javascript:;">Duyurular</a>
                        <a href="javascript:;">Destek</a>
                    </nav>
                </div>
            </div>

            <div class="col-4 text-right">
                <div class="login-register-menu">
                    <a class="btn btn-outline-light">Giriş Yap</a>
                    <a class="btn btn-primary">Kayıt Ol</a>
                </div>
            </div>

        </div>
    </div>

</header>

<div class="mobile-header">

    <div class="menu-toggle js-menu-toggle">
        <a href="javascript:;">
            <i data-feather="menu"></i>
        </a>
    </div>

    <div class="logo">
        <a href="index.html">
            <img src="images/carsi_logo.png"
                 class="img-fluid"  alt="Çarşı FX Logo"/>
        </a>
    </div>

    <div class="home">
        <a href="index.html">
            <i data-feather="home"></i>
        </a>
    </div>

</div>

<div class="mobile-menu js-mobile-menu">
    <div class="menu-close">
        <a href="javascript:;" class="js-menu-close">
            <i class="fa fa-close"></i>
        </a>
    </div>
    <nav>
        <a href="javascript:;">Özellikler</a>
        <a href="platforms.html">Platform</a>
        <a href="javascript:;">Analiz</a>
        <a href="javascript:;">Şirket</a>
        <a href="javascript:;">Duyurular</a>
        <a href="javascript:;">Destek</a>
        <a class="btn btn-outline-primary">Giriş Yap</a>
        <a class="btn btn-primary">Kayıt Ol</a>
    </nav>
</div>
