
/*
* File Organisation
*
* 1- Color Variables
* 2- Font Variables
* 3- Responsive Variables
* 4- Project Specific Variables
*/

/**
* ----------------------------
*    Color Variables   *
* ----------------------------
 */

$primary                 :#18beb1;
$secondary               :#c14474;
$info                    :#5168f2;
$footer-bg               :#242636;
$footer-bottom           :#141522;
$footer-border-color     :#242636;
$footer-link-color       :#828998;

$header-nav-color        :#24282b;
$base-link-color         :#24282b;
$description-text-color  :#5b646a;
$news-body-color         :#5b646a;
$news-border-color       :#ebebed;
$mobile-platform-bg      :#f8f9fd;

/**
* ----------------------------
*    Font Variables   *
* ----------------------------
 */

$base-font-family:'Roboto', sans-serif;
$base-font-size:16px;
$base-line-height:1.5px;

/**
* ----------------------------
*    Responsive Variables   *
* ----------------------------
 */

$xxx-large  :2560px; // 4K Screen
$xx-large   :1920px; // Full HD Screen/ Large Desktop
$x-large    :1490px; // Medium Desktop
$large      :1280px; // Small Desktop
$medium     :990px;  // Large Tablet
$small      :768px;  // Medium Tablet
$x-small    :576px;  // Smart Phones

/**
* ----------------------------
*    Project Specific Variables   *
* ----------------------------
 */

$base-button-width              :140px;
$form-input-bg                  :#e5e8e8;

$investment-increase-value      :#18be9e;
$investment-decrease-value      :#ff4040;
$investment-normal-value        :#3e3b44;

$account-card-primary           :$primary;
$account-card-premium           :$info;
$account-card-vip               :#24282b;
$account-card-body              :#f5f5f5;
$account-card-border            :#eaeaeb;
$account-card-body-text         :#5b646a;

$contact-form-label-color       :#333e63;
$contact-form-placeholder-color :#777e97;

$form-block-primary             :$primary;
$form-block-secondary           :$secondary;
$form-block-info                :$info;